<div n:if="$comments->count() > 0" class="row">
	<div class="col-md-12">
		<ul class="timeline timeline-inverse">
			<li n:foreach="$comments as $comment">
				<i class="fa fa-envelope bg-blue"></i>
				<div class="timeline-item">
					<span class="time"><i class="fa fa-clock-o"></i> {$comment->getCreated()|date:'d. m. Y H:i'}</span>

					<h3 class="timeline-header">{$comment->getAuthor()->getName()} {$comment->getAuthor()->getLastName()}</h3>

					<div class="timeline-body">
						{$comment->getContent()|noescape}
					</div>
				</div>
			</li>
			<li>
				<i class="fa fa-clock-o bg-gray"></i>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary center-block" data-toggle="modal" data-target="#newComment">Přidat komentář</button>
	</div>
</div>

<div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		{form commentForm}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Nový komentář k objednávce</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<textarea n:name="content"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
					<button n:name="save" class="btn btn-primary">Vložit komentář</button>
				</div>
			</div>
		{/form}
	</div>
</div>
