{block title}
{$category->getSeoTitle()}{if $paginationPage > 1} - {$paginationPage}. strana{/if} | {$webTitle}
{/block}

{block description}
{$category->getSeoDescription()}
{/block}

{block headMeta}
<link n:if="$prevLink" rel="prev" href="{$prevLink}" />
<link n:if="$nextLink" rel="next" href="{$nextLink}" />
{/block}

{block content}
	<h1>{$category->getName()} {if $category->getPostscript() && strlen($category->getPostscript()) > 0}- {$category->getPostscript()}{/if}</h1>

	<div class="category-desc">
		{$category->getDescription()|noescape}
	</div>

	<div n:if="count($childrenCategories)" class="subcategories">
		<ul>
			<li n:foreach="$childrenCategories as $child">
				<a n:href=":Front:Category:default $child->getUrl()" title="{$child->getName()}">{$child->getName()}</a>
			</li>
		</ul>
	</div>

	<div class="products-listing-wrapper">
		<div class="react-listing"
		     data-category="{$category->getId()}"
		     data-producers="{$availableProducers}"
		     data-current-page="{$pagination->getPage()}"
		     data-pages-count="{$pagination->getPagesCount()}"
		     data-listing-type="category"
		></div>

		<div class="product-list">
			<hr class="top-line" />
			{foreach $products as $product}
				{include '../components/productItem.latte' product=>$product}
			{/foreach}
		</div>

		<div class="pagination pagination-bottom"></div>
	</div>

{/block}

{block js}
	<script type="text/javascript" src="{$basePath}/dist/front/dist/listing-page.min.js" async defer></script>
{/block}


