{block detail}
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Číslo objednávky</th>
				<th>Kusů</th>
				<th>Vytvořeno</th>
				<th>Sklady</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$item['ordersList'] as $order">
				<td>{$order['orderNo']}</td>
				<td>{$order['count']} ks</td>
				<td>{$order['created']|date:'d. m. Y'}</td>
				<td>{$order['stocks']|implode:' / '}</td>
				<td><a href="{plink Order:detail $order['id']}" class="btn btn-primary btn-xs" target="_blank">Zobrazit objednávku</a></td>
			</tr>
		</tbody>
	</table>
{/block}