{block content}
<div class="box">
	<form n:name="form" class="form-horizontal">
		<div class="box-header with-border">
			<h3 class="box-title">{ifset $supplier}Úprava dodavatele - {$supplier->getName()}{else}Nový dodavatel{/ifset}</h3>
		</div>
		<div class="box-body">
			<div class="form-group required">
				<div class="col-md-3 control-label">
					<label n:name="name">Název<span class="required"> * </span></label>
				</div>
				<div class="col-md-9">
					<input n:name="name" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3 control-label">
					<label n:name="prefix">Prefix</label>
				</div>
				<div class="col-md-9">
					<input n:name="prefix" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3 control-label">
					<label n:name="note">Poznámka</label>
				</div>
				<div class="col-md-9">
					<textarea n:name="note" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3 control-label">
					<label n:name="source">Zdroj dat pro synchronizaci</label>
				</div>
				<div class="col-md-9">
					<input n:name="source" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3 control-label"></div>
				<div class="col-md-9">
					<div class="checkbox">
						<input n:name="isHeurekaSource"> <label n:name="isHeurekaSource">Zdrojový soubor odpovídá zdroji pro Heuréku</label>
					</div>
					<div class="checkbox">
						<input n:name="isSynchronized"> <label n:name="isSynchronized">Povolena synchronizace stavu (cen a dostupnosti) produktů s dodavatelem</label>
					</div>
					<div class="checkbox">
						<input n:name="isActive"> <label n:name="isActive">Aktivní</label>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button n:name="save" class="btn btn-primary">Uložit</button>
		</div>
	</form>
</div>