{block title}
	Výrobci | {$webTitle}
{/block}

{block content}
	<h1>Výrobci</h1>
	{foreach $groups as $key => $group}
	<div class="row">
		<div class="col-md-12 subcategories">
			<h2>{$key|upper}</h2>
			<ul>
				<li n:foreach="$group as $producer">
					<a n:href="Producer:detail $producer['url']">{$producer['title']}</a>
				</li>
			</ul>
		</div>
	</div>
	{/foreach}
{/block}