{block title}
	{$producer->getName()}{if $paginationPage > 1} - {$paginationPage}. strana{/if} | {$webTitle}
{/block}

{block headMeta}
	<link n:if="$prevLink" rel="prev" href="{$prevLink}" />
	<link n:if="$nextLink" rel="next" href="{$nextLink}" />
{/block}

{block content}
<h1>{$producer->getName()}</h1>

<div class="products-listing-wrapper">
	<div class="react-listing"
	     data-producers="{$producerData}"
	     data-current-page="{$pagination->getPage()}"
	     data-pages-count="{$pagination->getPagesCount()}"
	     data-listing-type="producer"
	></div>

	<div class="product-list">
		{foreach $products as $product}
			{include '../components/productItem.latte' product=>$product}
		{/foreach}
	</div>

	<div class="pagination pagination-bottom"></div>
</div>

{/block}

{block js}
	<script type="text/javascript" src="{$basePath}/dist/front/dist/listing-page.min.js" async defer></script>
{/block}