{var $urlArgs = [ 'category' => $product['categoryUrl'], 'url' => $product['url'] ]}
<div class="bestseller">
	<div class="bestseller__body">
		<div class="title">Nejprodávanější</div>
		<div class="image-wrap">
			<a href="{plink Product:default (expand) $urlArgs}" title="{$product['name']}">
				{ifset $product['imagePath']}<img n:img="$product['imagePath']" alt="{$product['name']}" title="{$product['name']}">{/ifset}
			</a>
		</div>
		<div class="price-btn-wrap">
			<div class="price">
				{$product['minPrice']|number:0:'.':' '},- Kč
			</div>
			<div class="btn-detail-wrap">
				<a href="{plink Product:default (expand) $urlArgs}" class="btn-yellow btn-detail" title="Detail produktu">
					<svg class="svg-search">
						<use xlink:href="{$basePath}/dist/front/images/svg/sprite.svg#search"></use>
					</svg>
					Detail
				</a>
			</div>
		</div>
		<div class="star-wrap">
			<svg class="svg-star">
				<use xlink:href="{$basePath}/dist/front/images/svg/sprite.svg#star"></use>
			</svg>
		</div>
	</div>
</div>