{block content}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './filterTabs.latte'}
			<div class="tab-content">
				<form n:name="form" class="form-horizontal">
					<div class="form-body">
						<div class="form-group required">
							<div class="col-md-3 control-label">
								<label n:name="name">Název<span class="required"> * </span></label>
							</div>
							<div class="col-md-9">
								<input n:name="name" class="form-control">
							</div>
						</div>
						<div class="form-group required">
							<div class="col-md-3 control-label">
								<label n:name="title">Název na webu<span class="required"> * </span></label>
							</div>
							<div class="col-md-9">
								<input n:name="title" class="form-control">
							</div>
						</div>
						<div class="form-group required">
							<div class="col-md-3 control-label">
								<label n:name="description">Popis</label>
							</div>
							<div class="col-md-9">
								<input n:name="description" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<div class="checkbox">
									<label for="frm-form-active">
										<input n:name="active"> Aktivní
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<button n:name="save" class="btn btn-primary btn btn-success">Uložit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
