<ul class="nav nav-tabs">
	<li {if $action == 'edit' || $action == 'new'}class="active"{/if}>
		<a href="{if $isEdited}{link Filter:edit id=>$filter->getId()}{else}#{/if}">Základní informace</a>
	</li>
	{if $isEdited}
		<li {if $action == 'values'}class="active"{/if}><a n:href="Filter:values id=>$filter->getId()">Hodnoty</a></li>
		<li class="dropdown pull-right">
			<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" aria-expanded="false">
				<i class="fa fa-gear"></i>
			</a>
			<ul class="dropdown-menu">
				<li role="presentation">
					<a n:href="remove!" role="menuitem" tabindex="-1" onclick="return confirm('Opravdu chcete smazat tento filtr? S ním budou smazány i přiřazené hodnoty.');">Smazat</a>
				</li>
			</ul>
		</li>
	{/if}
</ul>