{block content}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './filterTabs.latte'}
			<div class="tab-content">
				{control filterValuesGrid}
			</div>
		</div>
	</div>
</div>
