<div class="modal modal-primary fade" id="modal-existing-attributes">
	<div class="modal-dialog">
		<div class="modal-content">
			{form form id=>'attribute-attach-form'}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span></button>
					<h4 class="modal-title">Přiřaďte již existující vlastnosti</h4>
				</div>
				<div class="modal-body">
					<div class="row">
					{foreach $form['attributes']->getComponents() as $key => $attribute}
						{formContainer $attribute}

								<div class="form-group col-md-6">
									<h4>{$attribute['attach']->caption}</h4>
									<div class="checkbox">
										<label n:name="attach">
											<input n:name="attach"> přiřadit
										</label>
									</div>
									<div class="checkbox">
										<label n:name="force">
											<input n:name="force"> vyžadováno
										</label>
									</div>
								</div>

						{/formContainer}
					{/foreach}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline pull-left dismiss-modal" data-dismiss="modal">Zrušit</button>
					<input n:name="save" class="btn btn-outline" value="Uložit">
				</div>
			{/form}
		</div>
	</div>
</div>