{block content}
<div n:ifset="$attribute" class="col-md-12">
	<h2>Editace vlastnosti {$attribute->getName()}</h2>
	<div class="row">
		<div class="col-md-12">
			{control variantsGrid}
		</div>

		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="modal modal-primary fade" id="modal-existing-variants">
				<div class="modal-dialog">
					<div class="modal-content">
						{form existingVariants id=>'attribute-variant-attach-form'}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span></button>
								<h4 class="modal-title">Přiřaďte již existující varianty vlastnosti {$attribute->getName()}</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="form-group col-md-12">
										<div class="checkbox">
											<label for="choose-all-variants">
												<input type="checkbox" id="choose-all-variants"> Vybrat všechny varianty
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									{foreach $form['variants']->getComponents() as $key => $variant}
										{formContainer $variant}

											<div class="form-group col-md-6">
												<h4>{$variant['attach']->caption}</h4>
												<div class="checkbox col-sm-4">
													<label n:name="attach">
														<input n:name="attach" class="attribute-variant-selection"> Přiřadit
													</label>
												</div>
												<div class="form-group col-sm-8">
													<input n:name="price" class="form-control" placeholder="Cena">
												</div>
											</div>

										{/formContainer}
									{/foreach}
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left dismiss-modal" data-dismiss="modal">Zrušit</button>
								<input n:name="save" class="btn btn-outline" value="Uložit">
							</div>
						{/form}
					</div>
				</div>
			</div>
			<div class="modal modal-primary fade" id="set-price-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						{form bulkPriceSetup}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span></button>
								<h4 class="modal-title">Zadejte cenu, která se nastaví všem variantám vlastnosti {$attribute->getName()}</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input n:name="price" class="form-control" placeholder="Cena">
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left dismiss-modal" data-dismiss="modal">Zrušit</button>
								<input n:name="save" class="btn btn-outline" value="Uložit">
							</div>
						{/form}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>