{block content}
<div class="box">
	{form form class=>'form-horizontal'}
		<div class="box-header with-border">
			<h3 class="box-title">{ifset $event}{$event->getTitle()}{else}Nová akce{/ifset}</h3>
		</div>
		<div class="box-body">
			<div class="form-group">
				<label n:name="title" class="col-sm-2 control-label">Titulek</label>
				<div class="col-sm-10">
					<input n:name="title" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label n:name="place" class="col-sm-2 control-label">Místo akce</label>
				<div class="col-sm-10">
					<input n:name="place" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label n:name="eventDate" class="col-sm-2 control-label">Datum a čas konání</label>
				<div class="col-sm-10">
					<div class="col-md-4">
						<input n:name="eventDate" class="datepicker form-control col-md-4" placeholder="Datum">
					</div>
					<div class="col-md-4">
						<input n:name="timeFrom" class="form-control col-md-4" placeholder="Od">
					</div>
					<div class="col-md-4">
						<input n:name="timeTo" class="form-control col-md-4" placeholder="Do">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label n:name="description" class="col-sm-2 control-label">Popis akce</label>
				<div class="col-sm-10">
					<textarea n:name="description" class="form-control mceEditor"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label n:name="active">
							<input n:name="active"> Aktivní
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button n:name="save" class="btn btn-primary">Uložit</button>
		</div>
	{/form}
</div>