<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>AdminLTE 2 | Starter</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.7 -->
		<link rel="stylesheet" href="{$basePath}/dist/vendor/bootstrap/css/bootstrap.min.css">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- Ionicons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
		<!-- Theme style -->
		<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/dist/css/AdminLTE.min.css">
		<!-- iCheck -->
		<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/plugins/iCheck/square/blue.css">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Google Font -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

		{block head}{/block}
	</head>
	<body class="hold-transition login-page">

		{include #content}

		<!-- jQuery 3.1.1 -->
		<script src="{$basePath}/dist/admin/AdminLTE/plugins/jQuery/jquery-3.1.1.min.js"></script>

		<script src="{$basePath}/dist/vendor/nette-forms/netteForms.js"></script>
		<script src="{$basePath}/dist/admin/js/nette.ajax.js"></script>

		<!-- Bootstrap 3.3.7 -->
		<script src="{$basePath}/dist/vendor/bootstrap/js/bootstrap.min.js"></script>

		<!-- iCheck -->
		<script src="{$basePath}/dist/admin/AdminLTE/plugins/iCheck/icheck.min.js"></script>
		<script>
			$(function () {
				$('input').iCheck({
					checkboxClass: 'icheckbox_square-blue',
					radioClass: 'iradio_square-blue',
					increaseArea: '20%' // optional
				});
			});
		</script>
	</body>
</html>