{block content}
<div class="login-box">
    <div class="login-logo">
        <b>Eshop</b>
    </div>
    <div class="login-box-body">
        <div n:foreach="$flashes as $flash" class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p><i class="icon fa fa-warning"></i> {$flash->message}</p>
        </div>
        <p class="login-box-msg">Pro vstup do administrace se musíte přihlásit</p>

		{form signInForm role=>'form'}
            <div class="form-group has-feedback">
                <input n:name="username" class="form-control" placeholder="Login">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input n:name="password" class="form-control" placeholder="Heslo">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input n:name="remember" value="Zapamtovat si mě"> Zapamtovat si mě
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button n:name="send" class="btn btn-primary btn-block btn-flat">Přihlásit</button>
                </div>
            </div>
		{/form}
    </div>
</div>