<ol class="breadcrumb">
	<li><a href="{plink :Admin:Dashboard:default}"><i class="fa fa-dashboard"></i> Úvod</a></li>
	{foreach $menu->getPath() as $item}
		<li n:class="$item->isActive() ? active">
			<i n:if="$item->hasIcon()" class="fa fa-{$item->getIcon()}"></i>
			<a href="{$item->getLink()}">{$item->getTranslatedTitle()}</a>
		</li>
	{/foreach}
</ol>