{if !isset($menuParent)}
	{var $menuParent = $menu}
	{var $secondLevel = false}
{/if}

{if !$secondLevel}
	{*
	<div class="user-panel">
		<div class="pull-left image">
			<img src="{$basePath}/dist/admin/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>{$user->getIdentity()->name} {$user->getIdentity()->lastName}</p>
		</div>
	</div>
	*}

	{form searchForm class=>'sidebar-form'}
		<div class="input-group">
			<input n:name="search" class="form-control" placeholder="Hledat...">
			<span class="input-group-btn">
				<button n:name="send" class="btn btn-flat">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	{/form}

{/if}

<ul n:block="branch" n:if="$menuParent->hasVisualItems()" {if !$secondLevel}class="sidebar-menu" data-widget="tree"{else}class="treeview-menu"{/if}>
	{foreach $menuParent->getItems() as $item}
		{if $item->isAllowed() && $item->isVisual()}
			{if $item->hasVisualItems()}
				<li class="treeview {if $item->isActive()}active menu-open{/if}">
					<a href="#">
						<i n:if="$item->hasIcon()" class="fa fa-{$item->getIcon()} fa-fw"></i> <span>{$item->getTranslatedTitle()}</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					{include branch, menuParent => $item, secondLevel => true}
				</li>
			{else}
				<li n:class="$item->isActive() ? active">
					<a href="{$item->getLink()}">
						<i n:if="$item->hasIcon()" class="fa fa-{$item->getIcon()} fa-fw"></i> <span>{$item->getTranslatedTitle()}</span>
					</a>
				</li>
			{/if}
		{/if}
	{/foreach}
</ul>
