{block title}
	Košík | {$webTitle}
{/block}

{block content}
<h1>Nákupní košík</h1>

{if count($cartItems) > 0}
<div n:if="!$presenter->getUser()->isLoggedIn()" class="cart-not-signed-in">
	Vážený zákazníku, nejste přihlášen(a). Můžete se
	<a href="#" class="modal-trigger" data-modal-id="modal-signin" title="Přihlášení">přihlásit zde</a>,
	případně <a n:href="Sign:register">zaregistrovat zde</a>.
</div>

{snippetArea cart-form}
{form cartForm id=>"cartStepOneForm", class=>"ajax"}
<div n:snippet="items" class="cart-table">
	<div class="table">
		<div class="thead">
			<div class="th">Produkt</div>
			<div class="th">Počet</div>
			<div class="th">Cena za ks</div>
			<div class="th">Cena celkem</div>
			<div class="th"></div>
		</div>
		<div class="tbody">
		{formContainer items}
			<div n:foreach="$cartItems as $item" class="item">
				<div class="image-wrap">
					<div n:if="$item->getPrice()->getVariant()->getProduct()->getMainImage()" class="image-inner">
						{img $item->getPrice()->getVariant()->getProduct()->getMainImage()->getPath()}
					</div>
				</div>
				<div class="title">
					<a n:href=":Front:Product:default (expand) $item->getPrice()->getVariant()->getProduct()->getUrlArgs()">{$item->getPrice()}</a>
				</div>
				<div class="number">
				   <input n:name="$item->getId()" />
				</div>
				<div class="price">
					{$item->getPrice()->getPrice()|number:0:'.':' '} Kč
				</div>
				<div class="total">
					{$item->getCount() * $item->getPrice()->getPrice()|number:0:'.':' '} Kč
				</div>
				<div class="remove">
					<a n:href="removeItem! $item->getId()" class="ajax" title="Odebrat">
						<svg class="svg-close">
							<use xlink:href="{$basePath}/dist/front/images/svg/sprite.svg#close"></use>
						</svg>
					</a>
				</div>
			</div>
		{/formContainer}
		</div>
	</div>
</div>

<div n:snippet="itemsPrice" class="discount-code-price-total">


	<div class="discount-code">
	{*
		<label for="discount">Slevový kod:</label>
		<div class="input-wrap">
			<input type="text" name="discount" />
			<input type="submit" class="btn-yellow" value="Uplatnit" />
		</div>

		<a href="#" class="recalculate">Přepočítat cenu</a>
		*}
		<input n:name="recalculate" value="Přepočítat cenu" id="recalculate-cart-items">
	</div>

	<div class="price-total">
		<table>
			<tbody>
				<tr class="without-vat">
					<th>Cena za zboží bez DPH:</th>
					<td>{$itemsTotalPriceWithoutVat|number:0:'.':' '} Kč</td>
				</tr>
				<tr class="with-vat">
					<th>Cena za zboží:</th>
					<td>{$itemsTotalPrice|number:0:'.':' '} Kč</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<div class="cart-form-wrap">

	<div class="cart-form-left">

		<h2>Fakturační adresa</h2>

		<div class="cart-form">
			{formContainer contactInformation}
			<div class="form-group">
				<label n:name="name">Jméno *</label>
				{input name}
			</div>
			<div class="form-group">
				<label n:name="lastName">Příjmení *</label>
				{input lastName}
			</div>
			<div class="form-group">
				<label n:name="email">E-mail *</label>
				{input email}
			</div>
			<div class="form-group">
				<label n:name="phone">Telefon *</label>
				{input phone}
			</div>
			{/formContainer}
			{formContainer invoiceInformation}
			<div class="form-group">
				<label n:name="street">Ulice a č.p. *</label>
				{input street}
			</div>
			<div class="form-group">
				<label n:name="city">Obec *</label>
				{input city}
			</div>
			<div class="form-group">
				<label n:name="zip">PSČ *</label>
				{input zip}
			</div>
			<div class="form-group">
				<label n:name="country">Stát *</label>
				{input country}
				<div class="checkbox-group">
					<input n:name="companyOrder" class="check-firm-purchase">
					<label n:name="companyOrder">Nakupuji na firmu</label>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="firm-purchase">
				<div class="form-group">
					<label n:name="ico">IČ:</label>
					{input ico}
				</div>
				<div class="form-group">
					<label n:name="dic">DIČ:</label>
					{input dic}
				</div>
				<div class="form-group">
					<label n:name="company">Firma:</label>
					{input company}
				</div>
			</div>
			{/formContainer}
		</div>

		<h2>Dodací adresa</h2>

		<div class="cart-form">
			{formContainer deliveryAddress}
				<div class="checkbox-group">
					<input n:name="deliverySame" class="check-del-address">
					<label n:name="deliverySame">Dodací adresa je odlišná od fakturační</label>
				</div>
				<div class="del-address">
					<div class="form-group">
						<label n:name="name">Jméno:</label>
						{input name}
					</div>
					<div class="form-group">
						<label n:name="lastName">Příjmení:</label>
						{input lastName}
					</div>
					<div class="form-group">
						<label n:name="lastName">Firma:</label>
						{input company}
					</div>
					<div class="form-group">
						<label n:name="street">Ulice a c.p.:</label>
						{input street}
					</div>
					<div class="form-group">
						<label n:name="city">Obec:</label>
						{input city}
					</div>
					<div class="form-group">
						<label n:name="zip">PSČ:</label>
						{input zip}
					</div>
					<div class="form-group">
						<label n:name="country">Stát:</label>
						{input country}
					</div>
				</div>
			{/formContainer}
		</div>
	</div>

	<div class="cart-form-right">
		<h2>Doprava</h2>
		<div class="table-payment" n:snippet="delivery">
			<div class="table-payment">
				<table>
					<tbody>
						<tr n:foreach="$deliveries as $deliveryID => $delivery">
							<td class="way">
								<input n:name="delivery:$deliveryID" class="form-data-change {if $deliveryID == 20}cp-office-radio{elseif $deliveryID == 21}cp-box-radio{/if}"/>
								<label n:name="delivery:$deliveryID">
									{$delivery['name']}
									<div n:if="$delivery['hasFreePrice'] || in_array($deliveryID, [17, 20, 21])" class="help-tip">
										<p>
											{if $deliveryID == 17}
												Doručení balíku přímo do rukou adresáta na určenou adresu v ČR, a to již následující pracovní den po podání.<br>
											{elseif $deliveryID == 20}
												Doručení balíku nu vybranou poštu následující pracovní den po podání.<br>
											{elseif $deliveryID == 21}
												Vyzvednutí balíku v síti Balíkoven s rychlejším odbavením a možností platby kartou.<br>
											{/if}
											{if $delivery['hasFreePrice']}
											Při objednání zboží v celkové hodnotě více než {$delivery['freePriceLimit']},- Kč je tento typ dopravy zdarma.
											{/if}
										</p>
									</div>
								</label>
								<div n:if="$deliveryID == 20 && $selectedDeliveryId === $deliveryID" class="special-delivery" id="special-post-office">
									<div>
										Zadejte PSČ nebo město výdejního místa
										<input oninput="findOffice()" type="text" class="form-control" id="find-office" data-handle-link="{link findOffice!}" placeholder="PSČ nebo město">
									</div>
									<div>
										<span>Vyberte výdejní místo</span>
										<div class="select">
											<select class="select__element" name="cp-office" id="cp-office-select"></select>
										</div>
									</div>

								</div>
								<div n:if="$deliveryID == 21 && $selectedDeliveryId === $deliveryID" class="special-delivery" id="special-post-box">
									<div>
										Zadejte PSČ nebo město výdejního místa
										<input oninput="findBox()" type="text" class="form-control" id="find-box" data-handle-link="{link findBox!}" placeholder="PSČ nebo město">
									</div>
									<div>
										<span>Vyberte výdejní místo</span>
										<div class="select">
											<select class="select__element" name="cp-box" id="cp-box-select"></select>
										</div>
									</div>
								</div>
							</td>
							<td class="price">{$delivery['price']|number:0:'.':' '} Kč</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h2>Způsob platby</h2>
		<div class="table-payment">
			<div class="table-payment" n:snippet="paymentType">
				<table>
					<tbody>
					<tr n:foreach="$paymentTypes as $paymentType">
						<td class="way">
							<input n:name="paymentType:$paymentType['id']" class="form-data-change" />
							<label n:name="paymentType:$paymentType['id']">
								{$paymentType['name']}
							</label>
						</td>
						<td class="price">{$paymentType['price']|number:0:'.':' '} Kč</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="cart-form">
			<div class="form-group">
				<label n:name="customerNote">Vaše poznámka k objednávce:</label>
				<textarea n:name="customerNote" rows="5"></textarea>
			</div>
		</div>
	</div>

	<div class="cart-form-checkbox-group">
		<div class="checkbox-group checkbox-group-left">
			<input n:name="ads">
			<label n:name="ads">Přeji si zasílat reklamní sdělení</label>
		</div>
		<div class="checkbox-group checkbox-group-right">
			<input n:name="mailing">
			<label n:name="mailing">Přeji si zasílat na e-mail novinky a informace o akčním zboží. (max. 1 e-mail týdně)</label>
		</div>
		<div class="checkbox-group checkbox-group-right">
			<input n:name="termsAndConditions">
			<label n:name="termsAndConditions">
				Souhlasím s <a href="{$termsConditionLink}">obchodními podmínkami</a> a beru na vědomí
				<a href="{$gdprLink} ">ochranu osobních údajů</a>.
				Dále prohlašuji, že k okamžiku odeslání objednávky jsem dovršil(a) 18 let.
			</label>
		</div>
	</div>
</div>

<div n:snippet="totalPrice" class="price-max-total">
	<table>
		<tbody>
			<tr>
				<th>Celkem k úhradě:</th>
				<td>{$totalPrice|number:0:'.':' '} Kč</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="cart-btns">
	<a n:href="Homepage:default" class="btn-back" title="Pokračovat v nákupu">Pokračovat v nákupu</a>
	<input n:name="submit" class="btn-yellow" title="Odeslat objednávku" value="Odeslat objednávku" id="cartStepOneForm-submit" />
	<input n:name="changeState" style="display:none;" id="change-state-button" />
</div>

{/form}
{/snippetArea}
{else}
<div class="row">
	<div class="col-md-12">
		Nemáte v košíku žádné položky. <a n:href="Homepage:default">Vyberte si</a> nějaké produkty z naší nabídky.
	</div>
</div>
{/if}