{block title}
	Košík | {$webTitle}
{/block}

{block content}
<h1>Nákupní košík</h1>

<div class="row">
	<div class="col-md-12">
		Nemáte v košíku žádné položky. <a n:href="Homepage:default">Vyberte si</a> nějaké produkty z naší nabídky.
	</div>
</div>