{block head}
    <script n:if="isset($orderNo) && isset($totalPrice)">
      (function(w,d,s,u,n,k,c,t){ w.ZboziConversionObject=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments)};w[n].key=k;c=d.createElement(s);
        t=d.getElementsByTagName(s)[0];c.async=1;c.src=u;t.parentNode.insertBefore(c,t)
      })(window,document,"script","https://www.zbozi.cz/conversion/js/conv.js","zbozi","38860");

       zbozi("setOrder",{
          "orderId": {$orderNo},
          "totalPrice": {$totalPrice}
       });
       zbozi("send");
    </script>

    <script> gtag('event', 'conversion',
            {
                'send_to': 'AW-776571401/qrrjCMDEzJYBEImUpvIC',
                'value': {$totalPrice|noescape},
                'currency': 'CZK',
                'transaction_id': {$orderNo}
            });
    </script>

{/block}

{block content}
<h1>Objednávka byla úspěšně vytvořena.</h1>
<p>Děkujeme za Váš nákup. Na Váš e-mail Vám bylo odesláno potvrzení o této objednávce.</p>
<p>Pokud Vám potvrzení nepřišlo, zkontrolujte prosím Váš spam. Je možné, že Vám potvrzení spadlo do spamu.</p>