{block content}
	<div class="row">
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<h3>{$productsCount}</h3>

					<p>Produktů</p>
				</div>
				<div class="icon">
					<i class="fa fa-puzzle-piece"></i>
				</div>
				<a n:href="Product:default" class="small-box-footer">
					Zobrazit produkty <i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h3>{$categoriesCount}</h3>

					<p>Kategorií</p>
				</div>
				<div class="icon">
					<i class="fa fa-sitemap"></i>
				</div>
				<a n:href="Category:default" class="small-box-footer">
					Zobrazit kategorie <i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3>{$registeredCustomersCount}</h3>

					<p>Registrovaných zákazníků</p>
				</div>
				<div class="icon">
					<i class="fa fa-users"></i>
				</div>
				<a n:href="Customer:default" class="small-box-footer">
					Zobrazit zákazníky <i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<!-- ./col -->
		<div class="col-lg-3 col-xs-6">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h3>{$customersCount}</h3>

					<p>Zákazníků</p>
				</div>
				<div class="icon">
					<i class="fa fa-shopping-cart"></i>
				</div>
				<a n:href="Order:default" class="small-box-footer">
					Zobrazit objednávky <i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Měsíční obrat - eshop</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<input type="hidden" id="eshop-month-sales-chart-data" data-chart="{$eshopMonthSales}">
					<div class="chart" id="eshop-month-sales-chart" style="height: 300px;"></div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Měsíční obrat - prodejna</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<input type="hidden" id="store-month-sales-chart-data" data-chart="{$storeMonthSales}">
					<div class="chart" id="store-month-sales-chart" style="height: 300px;"></div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Kvartální obrat - eshop</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<input type="hidden" id="eshop-quarter-sales-chart-data" data-chart="{$eshopQuarterSales}">
					<div class="chart" id="eshop-quarter-sales-chart" style="height: 300px;"></div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Kvartální obrat - prodejna</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<input type="hidden" id="quarter-month-sales-chart-data" data-chart="{$storeQuarterSales}">
					<div class="chart" id="quarter-month-sales-chart" style="height: 300px;"></div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Roční obrat - eshop</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<input type="hidden" id="eshop-year-sales-chart-data" data-chart="{$eshopYearSales}">
					<div class="chart" id="eshop-year-sales-chart" style="height: 300px;"></div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Roční obrat - prodejna</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<input type="hidden" id="store-year-sales-chart-data" data-chart="{$storeYearSales}">
					<div class="chart" id="store-year-sales-chart" style="height: 300px;"></div>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Nejprodávanější produkty</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<table class="table table-bordered table-striped stats-data-table">
						<thead>
						<tr>
							<th>Pořadí</th>
							<th>Fráze</th>
							<th>Počet</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$bestSellerProducts as $product">
							<th>{$iterator->counter}.</th>
							<th>{$product['name']}</th>
							<th>{$product['productCount']}</th>
						</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Nejhledanější fráze</h3>
					<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
				<div class="box-body chart-responsive">
					<table class="table table-bordered table-striped stats-data-table">
						<thead>
						<tr>
							<th>Pořadí</th>
							<th>Fráze</th>
							<th>Počet</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$mostPopularPhrases as $phrase">
							<th>{$iterator->counter}.</th>
							<th>{$phrase['phrase']}</th>
							<th>{$phrase['searchCount']}</th>
						</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
{/block}

{block head}
	<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/bower_components/morris.js/morris.css">
{/block}

{block js}
	<!-- Morris.js charts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="{$basePath}/dist/admin/AdminLTE/bower_components/morris.js/morris.min.js"></script>
	<script src="{$basePath}/dist/admin/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="{$basePath}/dist/admin/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

	<script type="application/javascript">
        $(function () {
            "use strict";

            $('.chart').each(function(){
                var dataId = '#'+$(this).attr('id')+'-data';
                var parsedData = JSON.parse($(dataId).attr('data-chart'));
                var chartData = [0];
                for (var key in parsedData) {
                    chartData[key] = parsedData[key];
                }

                if (chartData.length == 1 && chartData[0] == 0) {
                    $('#'+$(this).attr('id')).html('<h5>Nejsou dostupná data</h5>');
                } else {

                    var line = new Morris.Bar({
                        element: $(this).attr('id'),
                        resize: true,
                        data: chartData,
                        xkey: 'period',
                        ykeys: ['amount'],
                        labels: ['Obrat'],
                        lineColors: ['#3c8dbc'],
                        hideHover: 'auto'
                    });
                }

            });

            $(".stats-data-table").DataTable({
                "ordering": false,
                "info":     false
            } );

        });
	</script>
{/block}