{if $paginator->pageCount > 1}
<ul class="pagination">
	{if $paginator->isFirst()}
	<li class="disabled"><a>« Předchozí</a></li>
	{else}
	<li><a href="{link this, 'page' => $paginator->page - 1}" rel="prev" n:class="pagination-link, $useAjax ? ajax">« Předchozí</a></li>
	{/if}

	{foreach $steps as $step}
	{if $step == $paginator->page}
	<li class="active"><a href="#">{$step}</a></li>
	{else}
	<li><a href="{link this, 'page' => $step}" n:class="pagination-link, $useAjax ? ajax">{$step}</a></li>
	{/if}
	{if $iterator->nextValue > $step + 1}<li class="disabled"><a>…</a></li>{/if}
	{/foreach}

	{if $paginator->isLast()}
	<li class="disabled"><a>Další »</a></li>
	{else}
	<li><a href="{link this, 'page' => $paginator->page + 1}" rel="next" n:class="pagination-link, $useAjax ? ajax">Další »</a></li>
	{/if}
</ul>
{/if}
