<div class="product-item {if $availabilityList[$product['availability']]['isProductOrderable'] && !$product['hasMorePrices']}loading{/if}"
     data-product="{$product['id']}"
     data-button="{if $availabilityList[$product['availability']]['isProductOrderable']}{if $product['hasMorePrices']}detail{else}add{/if}{else}not-allowed-to-order{/if}"
>
	<p class="title">
        <span class="vertical-helper"></span>
		<a href="{$product['url']}" title="{$product['name']}">{$product['name']}</a>
	</p>
	<div class="image-wrap">
		<a href="{$product['url']}" title="{$product['name']}">
		{if $product['image']}<img src="{$product['image']}" alt="{$product['name']}" title="{$product['name']}">{/if}
		</a>
	</div>
	<p class="availability {$availabilityList[$product['availability']]['class']}">{$availabilityList[$product['availability']]['title']}</p>
	<div class="price-btn-wrap">
		<div class="price">
			{if $product['hasMorePrices']}od {/if}{$product['currentPrice']|number:0:'.':' '},- Kč
            <span n:if="$product['wasPrice'] > 0" class="original-price">{$product['wasPrice']|number:0:'.':' '} ,- Kč</span>
            {if $product['isNews']}
            <img src="{$basePath}/dist/front/images/png/novinka.png" alt="Novinka" title="Novinka" class="image-offer" />
            {elseif $product['specialOffer']}
			<img src="{$basePath}/dist/front/images/png/akcni-zbozi.png" alt="Akční zboží" title="Akční zboží" class="image-offer" />
			{/if}
		</div>
		<div class="btn-detail-wrap">
			{if $availabilityList[$product['availability']]['isProductOrderable']}
				{if $product['hasMorePrices']}
				<a href="{$product['url']}" class="btn-yellow btn-detail" title="Detail">
					<svg class="svg-search">
						<use xlink:href="{$basePath}/dist/front/images/svg/sprite.svg#search"></use>
					</svg>
					Zvolit variantu
				</a>
				{else}
				<div class="btn-yellow" title="Přidat do košíku" rel="nofollow">
					Do košíku
				</div>
				{/if}
			{/if}
		</div>
	</div>
</div>
