<meta name="twitter:card" content="{$data->getType()}" />
<meta n:if="$data->getSite()" name="twitter:site" content="{$data->getSite()}" />
<meta name="twitter:title" content="{$data->getTitle()}" />
<meta name="twitter:description" content="{$data->getDescription()}" />
<meta n:if="$data->getImageUrl()" name="twitter:image" content="{$data->getImageUrl()}" />