<div class="modal" id="modal-signin">
	<div class="modal-window">
		<a class="modal-close" title="Zavřít"></a>
		<h4>Přihlášení</h4>
		{snippetArea login-form}
		<div class="cart-form signin-form">
			{form signInForm class=>'ajax'}
				{snippet login-form-errors}
				<div class="form-errors" n:if="$registrationForm->hasErrors()">
					<p n:foreach="$registrationForm->errors as $error">{$error}</p>
				</div>
				{/snippet}
				<div class="form-group">
					<label n:name="email">Email:</label>
					{input email}
				</div>
				<div class="form-group">
					<label n:name="password">Heslo:</label>
					{input password}
				</div>
				{input send class=>"btn-yellow", value=>"Přihlásit"}
				<a href="{plink Sign:restorePassword}" class="btn-back" title="Zapomenuté heslo">Zapomenuté heslo</a>
			{/form}
		</div>
		{/snippetArea}
		<div class="cart-not-signed-in">
			Chcete také svůj účet? Neváhejte a <a href="{plink Sign:register}">zaregistrujte se</a>.
		</div>
	</div>
</div>