{block content}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './attributeTabs.latte'}
			<div class="tab-content">
				<div class="row">
					<div class="col-md-6">
						<h4>Kategorie</h4>
						<ul class="list-group">
							<li n:foreach="$categories as $category" class="list-group-item">
								<a n:href="Category:edit $category['id']" target="_blank">{$category['name']}</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Produkty</h4>
						<ul class="list-group">
							<li n:foreach="$products as $product" class="list-group-item">
								<a n:href="Product:edit $product['id']" target="_blank">{$product['name']}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>