<ul class="nav nav-tabs">
	<li {if $action == 'edit' || $action == 'new'}class="active"{/if}>
		<a href="{if $isEdited}{link Attribute:edit id=>$attribute->getId()}{else}#{/if}">Základní informace</a>
	</li>
	{if $isEdited}
		<li {if $action == 'variants'}class="active"{/if}><a n:href="Attribute:variants id=>$attribute->getId()">Varianty</a></li>
		<li {if $action == 'attachedTo'}class="active"{/if}><a n:href="Attribute:attachedTo id=>$attribute->getId()">Přiřazeno k produktům/kategoriím</a></li>
		<li class="dropdown pull-right">
			<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" aria-expanded="false">
				<i class="fa fa-gear"></i>
			</a>
			<ul class="dropdown-menu">
				<li role="presentation">
					<a n:href="removeAttribute!" role="menuitem" tabindex="-1" onclick="return confirm('Opravdu chcete smazat tuto vlastnost? S ní budou smazány i přiřazené podlvasnosti.');">Smazat</a>
				</li>
			</ul>
		</li>
	{/if}
</ul>