{block content}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './attributeTabs.latte'}
			<div class="tab-content">
				<div class="tab-pane active" id="basic">
				{control variantsGrid}
				</div>
			</div>
		</div>
	</div>
</div>