{block content}
<div class="box">
	{form form class=>'form-horizontal'}
		<div class="box-header with-border">
			<h3 n:ifset="$news" class="box-title">{$news->getTitle()}</h3>
		</div>
		<div class="box-body">
			<div class="form-group">
				<label n:name="title" class="col-sm-2 control-label">Titulek</label>
				<div class="col-sm-10">
					<input n:name="title" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label n:name="perex" class="col-sm-2 control-label">Úvodní text</label>
				<div class="col-sm-10">
					<textarea n:name="perex" class="form-control" rows="4"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label n:name="text" class="col-sm-2 control-label">Text</label>
				<div class="col-sm-10">
					<textarea n:name="text" class="form-control mceEditor"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div n:if="isset($news) && $news->getMainImage()" class="col-sm-12 text-center">
					{img $news->getMainImage()->getPath(), '200x200'}
				</div>
				<label n:name="mainImage" class="col-sm-2 control-label">Úvodní obrázek</label>
				<div class="col-sm-10">
					<input n:name="mainImage" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label n:name="active">
							<input n:name="active"> Aktivní
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label n:name="displayedFromTo" class="col-sm-2 control-label">Zobrazit od - do</label>
				<div class="input-group col-sm-10">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input n:name="displayedFromTo" class="form-control pull-right" id="fromTo">
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button n:name="save" class="btn btn-primary">Uložit</button>
		</div>
	{/form}
</div>

{/block}

{block js}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
	<script src="{$basePath}/dist/admin/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>

	<script type="text/javascript">
        $(function () {
            $('#fromTo').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    format: 'DD.MM.YYYY',
	                applyLabel: 'Vybrat',
                    cancelLabel: 'Zrušit',
                    fromLabel: 'Od',
                    toLabel: 'Do',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Ne', 'Po', 'Út', 'St', 'Čt', 'Pá','So'],
                    monthNames: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
                    firstDay: 1
                },
	            opens: 'center',
	            drops: 'up'
            });

            $('#fromTo').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('DD.MM.YYYY') + ' - ' + picker.endDate.format('DD.MM.YYYY'));
            });

            $('#fromTo').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });
        });
	</script>
{/block}
