{block title}
{$product->getName()} | {$webTitle}
{/block}

{block description}
{$product->getCategory()->getName()}, {$product->getName()} - {$product->getDescription()|replace:'<br>':' '|striptags|noescape|truncate:190}
{/block}

{block headMeta}
	{control structuredData}
	{control openGraph}
	{control twitterCard}
{/block}

{block content}

<div class="product-detail {if $product->isNews()}new-product{elseif $product->isSpecialOffer()}special-offer{/if}">
	<div class="product-detail-left">
		<div n:if="$product->getMainImage()" class="product-images">
			<div class="product-slider">
				<div class="slider-item" data-thumb="{$basePath}{$product->getMainImage()->getRelativePath()}">
					<div class="slider-item-inner">
						<span class="helper"></span>
						<a href="{$basePath}{$product->getMainImage()->getRelativePath()}" data-lightbox="gallery">
							<img src="{$basePath}{$product->getMainImage()->getRelativePath()}" alt="{$product->getName()}" title="{$product->getName()}" />
						</a>
					</div>
				</div>
				{foreach $product->getImages() as $image}
				{continueIf $product->getMainImage()->getId() == $image->getId()}
				<div class="slider-item" data-thumb="{$basePath}{$image->getRelativePath()}">
					<div class="slider-item-inner">
						<span class="helper"></span>
						<a href="{$basePath}{$image->getRelativePath()}" data-lightbox="gallery">
							<img src="{$basePath}{$image->getRelativePath()}" alt="{$product->getName()}" title="{$product->getName()}" />
						</a>
					</div>
				</div>
				{/foreach}
			</div>
		</div>
	</div>
	<div class="product-detail-right">
		{control addProductToCart}
	</div>
</div>
<div class="tab-title">
	<div class="tab">Popis</div>
</div>
<div class="product-desc">
	{$product->getDescription()|noescape}
</div>
