{block content}
	<div class="box">
		{form form class=>'form-horizontal'}
			<div class="box-header with-border">
				<h3 n:ifset="$news" class="box-title">{$news->getTitle()}</h3>
			</div>
			<div class="box-body">
				<div class="form-group">
					<label n:name="title" class="col-sm-2 control-label">Titulek</label>
					<div class="col-sm-10">
						<input n:name="title" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label n:name="url" class="col-sm-2 control-label">URL stránky</label>
					<div class="col-sm-10">
						<input n:name="url" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label n:name="seoTitle" class="col-sm-2 control-label">SEO název</label>
					<div class="col-sm-10">
						<input n:name="seoTitle" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label n:name="seoKeywords" class="col-sm-2 control-label">SEO klíčová slova</label>
					<div class="col-sm-10">
						<input n:name="seoKeywords" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label n:name="content" class="col-sm-2 control-label">Obsah stránky</label>
					<div class="col-sm-10">
						<textarea n:name="content" class="form-control mceEditor"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label n:name="active">
								<input n:name="active"> Aktivní
							</label>
						</div>
						<div class="checkbox">
							<label n:name="inMenu">
								<input n:name="inMenu"> Zobrazit v menu
							</label>
						</div>
						<div class="checkbox">
							<label n:name="inFooter">
								<input n:name="inFooter"> Zobrazit v patičce
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<button n:name="save" class="btn btn-primary">Uložit</button>
			</div>
		{/form}
	</div>

