<div class="row">
	<div class="col-md-12">
		<button n:if="!$orderIsCanceled" type="button" class="btn btn-warning" data-toggle="modal" data-target="#general-mail">Zaslat email</button>
		<button n:if="!$orderIsCanceled && $hasUnavailableProducts" type="button" class="btn btn-warning" data-toggle="modal" data-target="#unavailable-products-mail">Zaslat email o nedostupném zboží</button>
		<a n:if="!$orderIsCanceled && $isOrderInvoicable" n:href="sendOrderRejectedMail!" class="btn btn-warning">Zaslat email o nepřevzaté objednávce</a>
		<a n:if="!$orderIsCanceled && $isOrderInvoicable && $isOrderPaid" n:href="sendOrderNotPaidMail!" class="btn btn-warning">Zaslat email o nezaplacené objednávce</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Typ</th>
					<th>Datum</th>
					<th>Odeslal</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			{if count($emails)}
				{foreach $emails as $email}
					<tr>
						<td>{$email['typeLabel']}</td>
						<td>{$email['created']|date:'d. m. Y. H:i'}</td>
						<td>{$email['author']}</td>
						<td><button class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#message-{$email['id']}">Zobrazit</button></td>
					</tr>
					<tr id="message-{$email['id']}" class="collapse out">
						<td colspan="4">
							{$email['message']|noescape}
						</td>
					</tr>
				{/foreach}
			{else}
				<tr>
					<td colspan="4">Aktuálně zde nejsou žádné emaily</td>
				</tr>
			{/if}
			</tbody>
		</table>
	</div>
</div>

<div n:if="!$orderIsCanceled" class="modal fade" id="general-mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		{form customerGeneralMailForm}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Obecný email zákazníkovi k objednávce č. {$orderNo}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-12">
							{input body class=>"form-control mceEditor"}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
					<button n:name="submitGeneral" class="btn btn-primary">Odeslat</button>
				</div>
			</div>
		{/form}
	</div>
</div>

<div n:if="!$orderIsCanceled && $hasUnavailableProducts" class="modal fade" id="unavailable-products-mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		{form unavailableProductsMailForm}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Email o nedostupném zboží k objednávce č. {$orderNo}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-12">
							{input body class=>"form-control mceEditor"}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
					<button n:name="submitUnavailableProduct" class="btn btn-primary">Odeslat</button>
				</div>
			</div>
		{/form}
	</div>
</div>