{contentType application/xml}
{layout none}
<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
	<channel>
		<title>{$basicInformation['title']}</title>
		<link>{$basicInformation['url']}</link>
		<description>{$basicInformation['description']}</description>
	{foreach $items as $item}
		{breakIf $item === null}
		<item>
			<g:id>{$item->getId()}</g:id>
			<g:title><![CDATA[{$item->getTitle()|noescape}]]></g:title>
			<g:description><![CDATA[{$item->getDescription()|noescape}]]></g:description>
			<g:link><![CDATA[{$item->getUrl()}]]></g:link>
			<g:image_link><![CDATA[{$item->getImageUrl()}]]></g:image_link>
			<g:condition>new</g:condition>
			<g:availability>{$item->getAvailability()}</g:availability>
			<g:availability_date n:if="$item->getAvailabilityDate()">{$item->getAvailabilityDate()}</g:availability_date>
			<g:price>{$item->getPrice()}</g:price>
			<g:item_group_id>{$item->getGroupId()}</g:item_group_id>
			<g:brand n:if="$item->getBrand()"><![CDATA[{$item->getBrand()|noescape}]]></g:brand>
			<g:product_type><![CDATA[{$item->getCategoryList()|noescape}]]></g:product_type>
			<g:identifier_exists n:if="!$item->identifierExists()">no</g:identifier_exists>
			<g:gtin n:if="$item->getGtin() !== null">{$item->getGtin()}</g:gtin>
		</item>
	{/foreach}
	</channel>
</rss>