<h1>
	{$product->getName()}
	{if $product->getCategory()->getPostscript() && strlen($product->getCategory()->getPostscript()) > 0}
		- {$product->getCategory()->getPostscript()}
	{/if}
	</h1>
<div n:snippet="product-info" class="product-features">
	<table>
		<tbody>
			<tr>
				<th>Dostupnost:</th>
				<td>
					<span class="availability {$availabilityClass}">{$availability} </span>
					<div class="help-tip">
                    	<p>{$availabilityDescription}</p>
                    </div>
				</td>
			</tr>
			<tr>
				<th>Katalogové číslo:</th>
				<td>{$product->getNumber()}</td>
			</tr>
			<tr n:if="$product->getProducer()">
				<th>Výrobce:</th>
				<td>
					<a href="{plink Producer:detail $product->getProducer()->getUrl()}" title="Detail výrobce {$product->getProducer()->getName()}">
						{$product->getProducer()->getName()}
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="price-to-cart">
	<div n:snippet="product-to-cart" class="price-to-cart-bg">
	{form addProductToCartForm class=>'ajax', id=>'addProductToCartForm'}
		{input priceVariant class=>"price-variant-change"}
		<div class="price-to-cart-inner">
			{input prices}
			<div class="price">
                <span n:if="$normalPrice > 0" class="original-price">{$normalPrice|number:0:'.':' '} ,- Kč</span>
                <span class="price-result">{$price}</span>,- Kč
            </div>
            {if $canBeOrdered}
			<div class="count-to-cart">
				<div class="plus-minus-input">
					<input n:name="count" class="count price-variant-change" />
					<span class="plus-piece">+</span>
					<span class="minus-piece">-</span>
				</div>
				<div class="btn-yellow btn-cart">
					<svg class="svg-cart">
						<use xlink:href="{$basePath}/dist/front/images/svg/sprite.svg#basket"></use>
					</svg>
					Do košíku
					<input n:name="addToCart" />
				</div>
			</div>
			{else}
            <div class="count-to-cart">
                <span class="btn-yellow btn-yellow-greyed modal-trigger watch-dog-open-modal" data-modal-id="modal-watch-dog" title="Hlídat dostupnost">Hlídat dostupnost</span>
            </div>
            {/if}
		</div>
	{/form}
	{if !$canBeOrdered}
		<div class="modal" id="modal-watch-dog">
			<div class="modal-window">
				<a class="modal-close" title="Zavřít"></a>
				<h4>Hlídací pes dostupnosti produktu</h4>
				{form watchDogForm}
				<div class="notice-text">
					<p>
						Zadejte email, na který se má zaslat upozornění jakmile bude produkt dostupný.
					</p>
					<div class="watch-dog-email">
						<input n:name="email" placeholder="E-mail">
					</div>
				</div>
				<div>
					<a href="#" class="btn-yellow btn-yellow-greyed close-modal-btn" title="Zavřít">Zavřít</a>
					<input n:name="save" class="btn-yellow close-modal-btn" value="Odeslat">
					<input n:name="productVariant" id="product-variant-id">
				</div>
				{/form}
			</div>
		</div>
	{/if}
	</div>
</div>
