<div class="row">
	<div class="col-md-12">
		<form n:name="form" class="form-horizontal">
			<table class="table table-striped">
				<tbody>
					<tr>
						<th style="width: 400px">Varianta</th>
						<th class="text-center">Nastavení hodnot</th>
					</tr>
					{formContainer variants}
					<tr n:foreach="$variants as $variant">
						{formContainer $variant->getId()}
						<td>
							<h4>{$variant}</h4>
						</td>
						<td>
							<div n:foreach="$form['variants'][$variant->getId()]->getComponents() as $key => $input" class="form-group">
								{label $input , class=>'col-sm-2 control-label'}

								<div class="col-sm-10">
									{input $input, class=>"form-control"}
								</div>
							</div>
						</td>
						{/formContainer}
					</tr>
					{/formContainer}
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12 text-center">
					<button n:name="save" class="btn btn-primary">Uložit</button>
				</div>
			</div>
		</form>
	</div>
</div>