
<div>
	<form n:name="form" class="" data-change-quantity-url="{link changeQuantity}">
		<div class="box box-default">
			<div class="box-header with-border">
				<h3 class="box-title">Základní informace</h3>
			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="form-group">
							<label n:tag-if="!$isEdited">Zákazník</label>
							{if $isEdited}
								<a n:if="$order->getCustomer()" href="{plink Customer:detail $order->getCustomer()->getId()}"><h4>{$order->getCustomer()->getName()} {$order->getCustomer()->getLastName()}</h4></a>
							{else}
								<select id="customer-selector" class="form-control" data-load-url="{link loadCustomerInfo!}" data-customer-search-url="{plink :Api:Customer:searchCustomer}"></select>
							{/if}
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="form-group">
							<label n:name=status>Stav</label>
							<select n:name="status" class="form-control"></select>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="form-group">
							<label n:name="delivery">Způsob dopravy</label>
							<select n:name="delivery" class="form-control delivery-type-select""></select>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="form-group">
							<label n:name="paymentType">Způsob platby</label>
							<select n:name="paymentType" class="form-control"></select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div n:snippet="order-customer" class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
				{formContainer contactInformation}
					<div class="box box-danger">
						<div class="box-header with-border">
							<h3 class="box-title">Kontaktní údaje</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<label n:name="name">Jméno</label>
								<input n:name="name" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="lastName">Příjmení</label>
								<input n:name="lastName" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="email">E-mail</label>
								<input n:name="email" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="phone">Telefon</label>
								<input n:name="phone" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="lyonessCardId">Lyoness karta</label>
								<input n:name="lyonessCardId" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="lyonessCardEan">Lyoness karta EAN</label>
								<input n:name="lyonessCardEan" class="form-control" />
							</div>
						</div>
					</div>
				{/formContainer}
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				{formContainer invoiceInformation}
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Fakturační údaje</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<label n:name="street">Ulice</label>
								<input n:name="street" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="city">Město</label>
								<input n:name="city" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="zip">PSČ</label>
								<input n:name="zip" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="country">Země</label>
								<select n:name="country" class="form-control"></select>
							</div>
							<div class="form-group">
								<label n:name="ico">IČO</label>
								<input n:name="ico" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="dic">DIČ</label>
								<input n:name="dic" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="company">Firma</label>
								<input n:name="company" class="form-control" />
							</div>
						</div>
					</div>
				{/formContainer}
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				{formContainer deliveryAddress}
					<div class="box box-success">
						<div class="box-header with-border">
							<h3 class="box-title">Dodací adresa</h3>
						</div>
						<div class="box-body">
							<div class="form-group">
								<label n:name="name">Jméno</label>
								<input n:name="name" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="lastName">Příjmení</label>
								<input n:name="lastName" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="company">Firma</label>
								<input n:name="company" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="street">Ulice</label>
								<input n:name="street" class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="city">Město</label>
								<input n:name=city class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="zip">PSČ</label>
								<input n:name=zip class="form-control" />
							</div>
							<div class="form-group">
								<label n:name="country">Země</label>
								<select n:name="country" class="form-control"></select>
							</div>
						</div>
					</div>
				{/formContainer}
			</div>
			<input n:name="customer">
		</div>
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">Nové položky</h3>
			</div>
			<div class="box-body">
				<div class="col-md-12">
					<input id="products-variants" class="col-md-12" data-items-search-url="{plink :Api:Product:searchPrices}" data-add-item-url="{link addItem}"/>
				</div>
				<div class="col-md-12">
					<div n:snippet="order-selected-items" class="table-responsive">
						<table class="table" id="products-to-add">
							<thead>
							<tr>
								<th>Kód</th>
								<th>Produkt</th>
								<th>Cena za kus</th>
								<th>Počet kusů</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							{formContainer variants}
							{foreach $items as $key => $item}
								<tr>
									<td>{$item->getCodes()}</td>
									<td>{$item->getName()}</td>
									<td>{$item->getPrice()}</td>
									<td>
										<input type="text" name="variants[{$item->getId()}]" data-key="{$key}" class="product-count change-order-line-count" value="{$item->getQuantity()}" />
									</td>
									<td>
										<a href="{link removeItem $key}" class="btn btn-danger btn-circle ajax">
											<i class="fa fa-times"></i>
										</a>
									</td>
								</tr>
							{/foreach}
							{/formContainer}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div n:snippet="order-extra-items" class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">Extra položky</h3>
				{formContainer extraItem}
				<div class="row extra-items">
					<div class="col-md-7">
						<div class="form-group">
							<label n:name="description">Název položky</label>
							<input n:name="description" class="form-control">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<label n:name="unitPrice">Cena ks</label>
							<input n:name="unitPrice" class="form-control">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<label n:name="count">Počet</label>
							<input n:name="count" class="form-control">
						</div>
					</div>
					<div class="col-md-1">
						<div class="form-group">
							<label n:name="vat">DPH</label>
							<select n:name="vat" class="form-control"></select>
						</div>
					</div>
					<div class="col-md-2">
						<button n:name="addItem" title="Přidat položku" class="btn btn-success pull-right add-extra-item-to-cart ajax"><span class="fa fa-plus"></span>&nbsp;Přidat položku</button>
					</div>
				</div>
				{/formContainer}
			</div>
			<div class="box-body">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th>Název položky</th>
								<th>Cena za kus</th>
								<th>Počet kusů</th>
								<th>DPH</th>
								<th>Cena celkem</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							{foreach $extraItems as $id => $item}
								<tr>
									<td>
										{$item->getName()}
									</td>
									<td>
										{$item->getPrice()}
									</td>
									<td>
										{$item->getQuantity()}
									</td>
									<td>
										{$item->getVatRate()} %
									</td>
									<td>
										{$item->getTotal()}
									</td>
									<td>
										<a n:href="removeExtraItem $id" type="button" class="btn btn-danger btn-flat ajax">
											<i class="fa fa-remove"></i>
										</a>
									</td>
								</tr>
							{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div n:if="$isEdited" class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">Přiřazené položky k objednávce</h3>
		</div>
		<div class="box-body">
			{control orderLines}
		</div>
	</div>
	<div n:snippet="order-end" class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">Rekapitulace objednávky</h3>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label for="discount">Nová hodnota slevy (aktuální sleva činí {$currentDiscount},- Kč)</label>
						<input name="discount" class="form-control" id="order-discount" data-url="{link setDiscount}" value="{$discount}">
					</div>
				</div>
				<div n:snippet="order-price" class="col-md-9 pull-right">
					<h3 class="pull-right">Celková cena: {$totalPrice},- Kč</h3>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button class="btn btn-primary btn btn-success center-block btn-lg" id="order-form-submit">Uložit objednávku</button>
		</div>
	</div>

</div>

{*
<div class="modal fade" id="order-product-detail" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">Vyberte variantu a vlastnosti produktu</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3">
						<img class="img-responsive center-block" src="http://eshop.1sys.cz/public/data/images/96/2-20100818123042.100x100.fit.q85.jpg">
					</div>
					<div class="col-md-9">
						<h4>Krásný název produktu</h4>
						<select class="form-control">
							<option>option 1</option>
							<option>option 2</option>
							<option>option 3</option>
							<option>option 4</option>
							<option>option 5</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Send message</button>
			</div>
		</div>
	</div>
</div>
*}





