<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Seznam docházejících produktů</h3>
			</div>
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<tbody>
						<tr>
							<th>Kód</th>
							<th>Produkt (Varianta)</th>
							<th>Sklad</th>
							<th>Počet</th>
							<th></th>
						</tr>
						<tr n:foreach="$alerts as $item">
							<td>{$item->getProduct()->getCodesString()}</td>
							<td>{$item->getProduct()}</td>
							<td>{$item->getStock()->getName()}</td>
							<td>{$item->getCount()} ks</td>
							<td><a href="{plink Stock:edit $item->getProduct()->getProduct()->getId(), stock=>$item->getStock()->getId()}"><button class="btn btn-sm btn-primary">Zobrazit</button></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>