<li class="dropdown notifications-menu">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="fa fa-bell-o"></i>
		<span class="label label-warning">{$alertsCount}</span>
	</a>
	<ul class="dropdown-menu">
		<li class="header">Počet docházejících produktů: <strong>{$alertsCount} ks</strong></li>
		<li>
			<ul class="menu">
				<li n:foreach="$alerts as $item">
					<a href="{plink Stock:edit $item->getProduct()->getProduct()->getId(), stock=>$item->getStock()->getId()}">
						<i class="fa fa-puzzle-piece text-red"></i> {$item->getProduct()}
					</a>
					{breakIf $iterator->counter > 5}
				</li>
			</ul>
		</li>
		<li class="footer"><a href="{plink Stock:alertsList}">Zobrazit všechny</a></li>
	</ul>
</li>