<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$webTitle}</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/bower_components/select2/dist/css/select2.min.css">

	<!-- Theme style -->
	<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/dist/css/AdminLTE.min.css">
	<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
		  page. However, you can choose any other skin. Make sure you
		  apply the skin class to the body tag so the changes take effect. -->
	<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/dist/css/skins/skin-blue.min.css">

	<link rel="stylesheet" href="{$basePath}/dist/admin/css/custom.css">


	<link rel="stylesheet" type="text/css" href="{$basePath}/dist/vendor/happy/happy.min.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/dist/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/contributte/datagrid/v5.7.0/assets/dist/datagrid.css">

	<!-- Use this css for ajax spinners -->
	<link rel="stylesheet" type="text/css" href="{$basePath}/dist/vendor/ublaboo-datagrid/dist/datagrid-spinners.css">

	<link rel="stylesheet" href="{$basePath}/dist/vendor/EasyAutocomplete/easy-autocomplete.min.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Google Font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

	{block head}{/block}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<!-- Main Header -->
	<header class="main-header">

		<!-- Logo -->
		<a n:href="Dashboard:default" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>A</b>A</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg">{$webTitle}</span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					{control stockLimitAlerts:menu}
					<!-- User Account Menu -->
					<li class="dropdown user user-menu">
						<!-- Menu Toggle Button -->
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<!-- The user image in the navbar-->
							<img src="{$basePath}/dist/admin/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
							<!-- hidden-xs hides the username on small devices so only the image appears. -->
							<span class="hidden-xs">{$user->getIdentity()->name} {$user->getIdentity()->lastName}</span>
						</a>
						<ul class="dropdown-menu">
							<!-- The user image in the menu -->
							<li class="user-header">
								<img src="{$basePath}/dist/admin/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

								<p>
									{$user->getIdentity()->name} {$user->getIdentity()->lastName}
								</p>
							</li>
							<!-- Menu Body -->
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<a n:href="Sign:out" class="btn btn-default btn-flat">Odhlásit se</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			{control menu}
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				{$title}
				<small n:if="isset($subtitle) && strlen($subtitle) > 0">{$subtitle}</small>
			</h1>
			{control menu:breadcrumb}
		</section>

		<!-- Main content -->
		<section n:snippet="flashes" class="content">
			{foreach $flashes as $flash}
				<div class="alert alert-{$flash->type} alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					{*<h4><i class="icon fa fa-ban"></i> Alert!</h4>*}
					{$flash->message|noescape}
				</div>
			{/foreach}

			{include #content}

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<footer class="main-footer">
		<strong>Copyright &copy; 2017 <a href="#">Boris Valo</a>.</strong> Všechna práva vyhrazena.
	</footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3.1.1 -->
<script src="{$basePath}/dist/admin/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>

<script src="{$basePath}/dist/vendor/nette-forms/netteForms.js"></script>
<script src="{$basePath}/dist/vendor/nette.ajax.js/nette.ajax.js"></script>

<!-- Bootstrap 3.3.7 -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{$basePath}/dist/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="{$basePath}/dist/admin/js/jquery-ui.min.js"></script>
<script src="https://cdn.rawgit.com/contributte/datagrid/v5.7.0/assets/dist/datagrid.js"></script>

<script src="{$basePath}/dist/vendor/EasyAutocomplete/jquery.easy-autocomplete.js"></script>
<script src="{$basePath}/dist/admin/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>

<!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
{*<script src="../bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>*}

<!-- Use this little extension for ajax spinners -->
<script src="{$basePath}/dist/vendor/ublaboo-datagrid/dist/datagrid-spinners.js"></script>


<script src="{$basePath}/dist/admin/js/tinymce/tinymce.min.js"></script>

<!-- AdminLTE App -->
<script src="{$basePath}/dist/admin/AdminLTE/dist/js/adminlte.min.js"></script>

<script src="{$basePath}/dist/admin/js/dependentSelectBox.js"></script>

<script src="{$basePath}/dist/admin/js/main.js?v=1.2.1"></script>

{block js}{/block}

</body>
</html>