<div n:if="$form->hasErrors()" class="row">
	{foreach $form->getErrors() as $error}
		<div id="card-alert" class="card red">
		  <div class="card-content white-text">
			<p><i class="mdi-alert-warning"></i> {$error}</p>
		  </div>
		  <button type="button" class="close white-text" data-dismiss="alert" aria-label="Zavřít">
			<span aria-hidden="true">×</span>
		  </button>
		</div>
	{/foreach}
</div>