{snippet products-filter}
	{if $showFilter}
	{control filterForm}
	{/if}
{/snippet}

{snippet products}
	<div n:if="$showPagination" class="pagination" id="products-list">
		{control visualPaginator}
	</div>

	<div class="product-list">
		<hr class="top-line" />
		{foreach $products as $product}
			{include '../../presenters/templates/components/productItem.latte' product=>$product}
		{/foreach}

	</div>

	<div n:if="$showPagination" class="pagination">
		{control visualPaginator}
	</div>
{/snippet}

<div class="modal" id="modal-added-to-cart">
	<div class="modal-window">
		<a class="modal-close" title="Zavřít"></a>
		<h4>Produkt byl vložen do košíku</h4>
		<div class="product-info">
			<p class="title" id="added-product-name"></p>
			<p class="price" id="added-product-price"></p>
		</div>
		<div class="buttons-wrap">
			<a class="btn-yellow btn-yellow-greyed close-modal-btn" title="Pokračovat v nákupu ">Pokračovat v nákupu</a>
			<a href="{plink Cart:default}" class="btn-yellow" title="Přejít do košíku">Přejít do košíku</a>
		</div>
	</div>
</div>