<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<title>Editable Invoice</title>

	<style>

		@page
		{
			size: auto;   /* auto is the initial value */

			/* this affects the margin in the printer settings */
			margin: 5mm 5mm 5mm 5mm;
		}


		* {
			margin: 0;
			padding: 0;
		}

		body {
			font: 8px Georgia, serif;
			margin: 0px;
		}

		#footer {
			height: 15px;
			width: 800px;
			margin: 20px auto 0;
			font: 13px Helvetica, Sans-Serif;
			text-align: center;
		}

		#header {
			width: 800px;
			margin: 0 auto;
			height: 25px;
		}

		#header table { width: 100%; }
		#header .left { width: 50%; text-align: left; }
		#header .right { width: 50%; text-align: right; }

		#page-wrap {
			width: 800px;
			margin: 0 auto;
		}

		table { border-collapse: collapse; }
		table td, table th { padding: 5px; }

		#basic-info { width: 100%; }
		#basic-info div { font-weight: 900; }
		#address { padding: 5px; width: 240px; }

		#meta td {
			text-align: right;
		}
		#meta td.meta-head {
			text-align: left;
			background: #eee;
		}

		#items {
			width: 100%;
			border-bottom: 1px solid #000000;
		}
		#items th {
			border-bottom: 1px solid #000000;
			border-top: 1px solid #000000;
			text-align: left;
			background: #eee;
		}

		#items tr.item-row td {
			border-bottom: 1px solid #000000;
			vertical-align: top;
		}

		#items td.item-name { width: 200px; }
		#items td.total-value { border-left: 0; padding: 10px; }
		#items td.balance { background: #eee; text-align: right; font-weight: bold;}
		#items td.price { text-align: right; }
		#items th.price { text-align: right; }
		#items td.quantity { text-align: center; }
		#items th.quantity { text-align: center; }


		#vat-recap th {
			text-align: right;
			font-weight: normal;
		}

		#vat-recap td {
			text-align: right;
		}

	</style>

</head>

<body>
<div id="header">
	<table>
		<tr>
			<td class="left">
				{$webTitle} - ocenění skladu
			</td>
			<td class="right">
				Datum vystavení: {$created}
			</td>
		</tr>
	</table>
</div>
<div id="page-wrap">
	<table id="items">

		<tr>
			<th>Kód</th>
			{*<th>Kat. číslo</th>*}
			<th>Produkt</th>
			<th class="quantity">Množství</th>
			<th class="price">Nák. cena</th>
			<th class="price">Nák. cena s DPH</th>
			<th class="price">Prod. cena</th>
			<th class="price">Prod. cena s DPH</th>
			<th>Sklad</th>
		</tr>

		<tr n:foreach="$valuationData->getInventoryItems() as $item" class="item-row">
			<td>{$item->getVariantCodes()}</td>
			{*<td>{$item->getProductNumber()}</td>*}
			<td class="item-name">{$item->getVariantName()}</td>
			<td class="quantity">{$item->getCount()} ks</td>
			<td class="price">{$item->getPurchasePriceWithoutVat()|number:2:',':' '}</td>
			<td class="price">{$item->getPurchasePrice()|number:2:',':' '}</td>
			<td class="price">{$item->getPriceWithoutVat()|number:2:',':' '}</td>
			<td class="price">{$item->getPrice()|number:2:',':' '}</td>
			<td>{$item->getStockName()}</td>
		</tr>
		<tr class="summary">
			<td colspan="3">&nbsp;</td>
			<td class="price">{$valuationData->getSumPurchasePriceWithoutVat()|number:2:',':' '}</td>
			<td class="price">{$valuationData->getSumPurchasePrice()|number:2:',':' '}</td>
			<td class="price">{$valuationData->getSumSalePriceWithoutVat()|number:2:',':' '}</td>
			<td class="price">{$valuationData->getSumSalePrice()|number:2:',':' '}</td>
			<td colspan="2">&nbsp;</td>
		</tr>
	</table>

</div>

</body>

</html>

