<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<title>Editable Invoice</title>

	<style>

		@page
		{
			size: auto;   /* auto is the initial value */

			/* this affects the margin in the printer settings */
			margin: 5mm 5mm 5mm 5mm;
		}


		* {
			margin: 0;
			padding: 0;
		}

		body {
			font: 14px/1.4 Georgia, serif;
			margin: 0px;
		}

		#footer {
			height: 15px;
			width: 800px;
			margin: 20px auto 0;
			font: 13px Helvetica, Sans-Serif;
			text-align: center;
		}

		#header {
			width: 800px;
			margin: 0 auto;
			height: 25px;
		}

		#header table { width: 100%; }
		#header .left { width: 50%; text-align: left; }
		#header .right { width: 50%; text-align: right; }

		#page-wrap {
			width: 800px;
			margin: 0 auto;
			border: 1px solid #000000;
		}

		table { border-collapse: collapse; }
		table td, table th { padding: 5px; }

		#basic-info { width: 100%; }
		#basic-info div { font-weight: 900; }
		#address { padding: 5px; width: 240px; }

		#shop {
			padding: 5px;
			width: 140px;
		}

		#customer {
			width: 400px;
			border: 2px solid #000000;
			vertical-align: top;
		}

		#meta {
			margin-top: 20px;
			width: 100%;
		}
		#meta td {
			text-align: right;
		}
		#meta td.meta-head {
			text-align: left;
			background: #eee;
		}

		#items {
			width: 100%;
			margin: 30px 0 15px 0;
			border-bottom: 1px solid #000000;
		}
		#items th {
			border-bottom: 1px solid #000000;
			border-top: 1px solid #000000;
			text-align: left;
			background: #eee;
		}

		#items tr.item-row td {
			border-bottom: 1px solid #000000;
			vertical-align: top;
		}

		#items td.item-name { width: 200px; }
		#items td.total-value { border-left: 0; padding: 10px; }
		#items td.balance { background: #eee; text-align: right; font-weight: bold;}
		#items td.price { text-align: right; }
		#items th.price { text-align: right; }
		#items td.quantity { text-align: center; }
		#items th.quantity { text-align: center; }


		#vat-recap th {
			text-align: right;
			font-weight: normal;
		}

		#vat-recap td {
			text-align: right;
		}

	</style>

</head>

<body>
	<div id="header">
		<table>
			<tr>
				<td class="left">
					{$webTitle} - {$fileTitle} č. {$number}
				</td>
				<td class="right">
					Sklad: {$stock->getName()}
				</td>
			</tr>
		</table>
	</div>
	<div id="page-wrap">
		<table id="basic-info">
			<tr>
				<td>
					<table id="meta">
						<tr>
							<td class="meta-head">Datum vytvoření</td>
							<td>{$date}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table id="items">

			<tr>
				<th>Produkt</th>
				<th class="quantity">Množství</th>
				<th class="quantity">Nák. cena bez DPH</th>
				<th class="quantity">Prod. cena s DPH</th>
				<th class="quantity">Marže</th>
			</tr>

			<tr n:foreach="$items as $item" class="item-row">
				<td class="item-name">{$item['product']}</td>
				<td class="quantity">{$item['quantity']} ks</td>
				<td class="quantity">{ifset $item['purchasePrice']}{$item['purchasePrice']},- Kč{else}------{/ifset}</td>
				<td class="quantity">{ifset $item['price']}{$item['price']},- Kč{else}------{/ifset}</td>
				<td class="quantity">{ifset $item['purchasePrice']}{$item['margin']} %{else}------{/ifset}</td>
			</tr>
		</table>

</div>

</body>

</html>

