{block content}
{form userForm role=>"form"}
<div class="box box-default">

	<div class="box-body">
		<div class="col-md-6">
			<div class="form-group">
				<label n:name="login">Uživatelské jméno</label>
				<input n:name="login" class="form-control" placeholder="Zadejte přihlašovací jméno">
			</div>
			<div class="form-group">
				<label n:name="password">Heslo</label>
				<input n:name="password" class="form-control" placeholder="Zadejte heslo">
			</div>
			<div class="form-group">
				<label n:name="password_check">Heslo pro kontrolu</label>
				<input n:name="password_check" class="form-control" placeholder="Zadejte heslo pro kontrolu">
			</div>
			<div class="form-group">
				<label n:name="name">Jméno</label>
				<input n:name="name" class="form-control" placeholder="Zadejte jméno">
			</div>
			<div class="form-group">
				<label n:name="lastName">Příjmení</label>
				<input n:name="lastName" class="form-control" placeholder="Zadejte příjmení">
			</div>
			<div class="form-group">
				<label n:name="active">
					<input n:name="active"> Aktivní
				</label>
			</div>
		</div>
		<div class="col-md-6">
			<h4>Přístupová práva</h4>
			<div class="form-group">
				<label n:name="superAdmin">
					<input n:name="superAdmin"> Superadministrátor
				</label>
			</div>
			<div class="form-group">
				{foreach $form->getComponent('privileges')->getItems() as $id => $label}
					<div class="col-md-4">
						<label n:name="privileges:$id"><input n:name="privileges:$id"> {$label}</label>
					</div>
				{/foreach}
			</div>
		</div>
	</div>
	<div class="box-footer">
		<button n:name="submit" class="btn btn-primary">Uložit</button>
	</div>

</div>
{/form}

{/block}

{block head}
	<link rel="stylesheet" href="{$basePath}/dist/admin/AdminLTE/plugins/iCheck/all.css">
{/block}

{block js}
	<script src="{$basePath}/dist/admin/AdminLTE/plugins/iCheck/icheck.min.js"></script>
{/block}