{block head}
	<link href="https://transloadit.edgly.net/releases/uppy/v1.2.0/uppy.min.css" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{/block}

{block content}
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Obrázky  nahrané v systému</h3>
		<div class="box-tools pull-right">

			<button class="btn btn-primary btn-sm upload-images">Nahrát nové obrázky</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-md-12">
				<form n:name="searchForm" class="inline">
					<div class="input-group input-group-sm">
						<input n:name="phrase" class="form-control" placeholder="Zadejte název obrázku">
						<span class="input-group-btn">
							<button n:name="search" class="btn btn-info btn-flat">Hledat</button>
							<button n:name="reset" class="btn btn-danger btn-flat">Zrušit</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				{control paginator}
			</div>
		</div>
		<div class="row">
		{foreach $pictures as $picture}
			<div class="col-md-3">
				<div class="card card-default">
					<div class="card-img">
						<img n:img="$picture['path']" class="img-responsive">
					</div>
					<div class="card-body">
						<h4>
							<a href="#" class="picture-title-editable" data-type="text" data-url="{link :Api:Image:changeTitle}" data-pk="{$picture['id']}" data-value="{$picture['name']}" data-name="name">
								{$picture['name']}
							</a>
						</h4>
						<p>
							<strong>Produktů s tímto obrázkem: </strong> {$picture['productsCount']}
						</p>
					</div>
					<div class="card-footer">
						<button class="btn btn-success btn-sm btn-copy-to-clipboard" data-clipboard-action="copy" data-clipboard-text="https://{$domain}/public/data/{$picture['path']}" data-toggle="tooltip" data-placement="bottom" data-trigger="click" title="Odkaz byl zkopírován">
							Zkopírovat URL
						</button>
						<a href="{$basePath}/public/data/{$picture['path']}" target="_blank" class="btn btn-primary btn-sm">Zobrazit</a>
						{*
						<a n:href="removeImage! $picture['id']" class="btn btn-danger btn-sm" onclick="return confirm('Opravdu chcete tento obrázek smazat?');">
							<i class="fa fa-trash"></i>
						</a>
						*}
					</div>
				</div>
			</div>
		{/foreach}
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				{control paginator}
			</div>
		</div>
	</div>
	<div class="box-footer">
		<button class="btn btn-primary upload-images pull-right">Nahrát nové obrázky</button>
	</div>
</div>


{/block}

{block js}
	{**** https://github.com/zenorocha/clipboard.js/ ****}
	<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

	{**** https://vitalets.github.io/x-editable/ ****}
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

	{**** https://uppy.io/ ****}
	<script src="https://transloadit.edgly.net/releases/uppy/v1.2.0/uppy.min.js"></script>
	<script n:syntax="off">
        var uppy = Uppy.Core({
            autoProceed: false,
            allowMultipleUploads: true,
            debug: true,
            restrictions: {
                maxFileSize: 1000000,
                maxNumberOfFiles: 10,
                allowedFileTypes: ['image/*']
            }
        });
        uppy.use(Uppy.Dashboard, {
            trigger: '.upload-images',
            metaFields: [
                { id: 'title', name: 'Název obrázku', placeholder: 'Zadejte název obrázku' }
            ],
            note: 'Můžete vybrat maximálně 10 obrázků, každý o maximální velikosti 1 MB.',
            browserBackButtonClose: true
        });
        uppy.use(Uppy.XHRUpload, {
		  endpoint: '/api/image/upload-pictures',
		  formData: true,
		  fieldName: 'file'
		})
        uppy.on('complete', function(result) {
            if (result.failed.length === 0) {
                uppy.getPlugin('Dashboard').closeModal();
                location.reload();
            }
        })

        new ClipboardJS('.btn-copy-to-clipboard');

        $('.btn-copy-to-clipboard').on('shown.bs.tooltip', function () {
            var tooltipButton = $(this);
            setTimeout(function(){
                tooltipButton.tooltip('destroy');
            }, 2000);
        })

        $.fn.editable.defaults.mode = 'popup';

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            $('.picture-title-editable').editable({
                success: function(response, newValue) {
	                if(response.status == 'error') {
	                    return response.msg; //msg will be shown in editable form
	                }
                },
                validate: function(value) {
                    if($.trim(value) == '') {
                        return 'Musíte zadat název';
                    }
                }
            });
        });

	</script>
{/block}