{block content}
<div class="box">
	{form form class=>'form-horizontal'}
	<div class="box-header with-border">
		<h3 class="box-title">{$customer->getFullName()}</h3>
	</div>
	<div class="box-body">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label n:name="active">
						<input n:name="active"> Aktivní
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label n:name="lyoneesCardId" class="col-sm-2 control-label">Lyonees Karta ID</label>
			<div class="col-sm-10">
				<input n:name="lyoneesCardId" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label n:name="lyoneesCardEan" class="col-sm-2 control-label">Lyonees Karta EAN</label>
			<div class="col-sm-10">
				<input n:name="lyoneesCardEan" class="form-control">
			</div>
		</div>
	</div>
	<div class="box-footer">
		<button n:name="save" class="btn btn-primary">Uložit</button>
	</div>
	{/form}
</div>
