{var $data = $item->getParsedDecisionState()}

<h3>Detailní informace o změně</h3>
<div class="row">
	<div class="col-md-6">
		<h4>Stav před změnou</h4>
		<div>
			<strong>Dostupnost: </strong>{$availabilityList[$data['availability']]} <br>
			<strong>Cena: </strong>{$data['price']|number:0:'.':' '},- Kč
		</div>
	</div>
	<div class="col-md-6">
		<h4>Data od dodavatelů</h4>
		{foreach $data['supplierState'] as $supplier => $supplierData}
			<div>
				<strong>{$suppliers[$supplier]}</strong>
				| {ifset $supplierData['availability']}{$availabilityList[$supplierData['availability']]}{else}-----{/ifset}
				| {ifset $supplierData['price']}{$supplierData['price']|number:0:'.':' '},- Kč{else}-----{/ifset}
			</div>
		{/foreach}
	</div>
</div>