
{block content}
<h1>Akce</h1>
<div class="event-list">
    <div class="event-item table-header">
        <div class="title"></div>
        <div class="date">
            Termín
        </div>
        <div class="time">
            Čas
        </div>
        <div class="place">
            Místo konání
        </div>
        <div class="show"></div>
    </div>
    {foreach $events as $event}
        <div class="event-item">
            <div class="title">
                <a n:href="Event:detail $event->getId()">{$event->getTitle()}</a>
            </div>
			<div class="date">
                {$event->getEventDate()|date:'d. m. Y'}
            </div>
			<div class="time">
                {$event->getTimeFrom()|date:'H:i'} - {$event->getTimeTo()|date:'H:i'}
            </div>
			<div class="place">
                {$event->getPlace()}
            </div>
            <div class="show">
                <a n:href="Event:detail $event->getId()" class="btn-yellow btn-detail" title="Zobrazit">
                    <svg class="svg-search">
                        <use xlink:href="/dist/front/images/svg/sprite.svg#search"></use>
                    </svg>
                    Zobrazit
                </a>
            </div>
        </div>
    {/foreach}
</div>