{block title}
    Akce: {$event->getTitle()} | {$webTitle}
{/block}

{block content}
<h1>{$event->getTitle()}</h1>
<div class="event-detail">
    <div class="event-info">
        <div class="date">
            <div class="title">
                Termín
                <span class="title-inner">

                </span>
            </div>
            <div class="text">
                {$event->getEventDate()|date:'d. m. Y'}
            </div>
        </div>
        <div class="time">
            <div class="title">                
                <span class="title-inner">
                    Čas
                </span>
            </div>
            <div class="text">
	            {$event->getTimeFrom()|date:'H:i'} - {$event->getTimeTo()|date:'H:i'}
            </div>
        </div>
        <div class="place">
            <div class="title">
                <span class="title-inner">
                    Místo konání
                </span>
            </div>
            <div class="text">
                {$event->getPlace()}
            </div>
        </div>
    </div>
    <div class="event-content">
        {$event->getDescription()|noescape}
    </div>
</div>
