{block content}
<div n:if="$order->isCanceled()" class="row">
	<div class="col-md-12">
		<div class="callout callout-warning">
			<h4>Tato objednávka byla stornována.</h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#detail" data-toggle="tab">Detail objednávky</a></li>
				<li><a href="#documents" data-toggle="tab">Dokumenty</a></li>
				<li><a href="#emails" data-toggle="tab">Emaily</a></li>
				<li class="dropdown pull-right">
					<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" aria-expanded="false">
						<i class="fa fa-gear"></i>
					</a>
					<ul class="dropdown-menu">
						<li n:if="$order->isEditable()" role="presentation"><a role="menuitem" tabindex="-1" n:href="Order:edit $order->getId()">Editovat</a></li>
						{if !$order->isCanceled()}
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#orderCancelModal">Stornovat</a></li>
						{else}
						<li role="presentation"><a role="menuitem" tabindex="-1" n:href="removeCanceled!">Obnovit objednávku</a></li>
						{/if}
						<li n:if="!$order->getLastProcessedEetReceipt() && $isOrderInvoicable && !$order->getReceipt()" role="presentation">
							<a role="menuitem" tabindex="-1" n:href="sendEetReceipt!" onclick="confirm('Opravdu chcete zaslat platbu do EET? Bude zaslána platba a vygenerována faktura.');">Zaslat platbu do EET</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="detail">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-xs-12">
							<div class="small-box bg-green">
								<div class="inner">
									<h3>{\App\Order\OrderStatus::getStatusLabel($order->getStatus())}</h3>

									<p>Stav objednávky</p>
								</div>
								<div class="icon">
									<i class="fa fa-check-square-o"></i>
								</div>
								{if $nextStatus && !$order->isCanceled()}
								<a n:href="changeStatus! $nextStatus" class="small-box-footer">
									Změnit stav na <strong>{\App\Order\OrderStatus::getStatusLabel($nextStatus)}</strong> <i class="fa fa-arrow-circle-right"></i>
								</a>
								{else}
								<span class="small-box-footer"></span>
								{/if}
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-xs-12">
							<div class="small-box bg-red">
								<div class="inner">
									<h3>{if $order->isShipped()}Expedováno{else}Neexpedováno{/if}</h3>

									<p>Stav expedice</p>
								</div>
								<div class="icon">
									<i class="fa fa-truck"></i>
								</div>
								{if !$order->isShipped() && !$order->isCanceled()}
									{if $isOrderBillable}
										<a n:href="setShipped!" class="small-box-footer">
											Odeslat objednávku <i class="fa fa-arrow-circle-right"></i>
										</a>
									{else}
										<a href="#" class="small-box-footer" data-toggle="modal" data-target="#shippingPackageNo">
											Odeslat objednávku <i class="fa fa-arrow-circle-right"></i>
										</a>
									{/if}
								{else}
								<span class="small-box-footer">
									<strong>Datum:</strong> {$order->getShipped()|date:'d.m.Y H:i'} {if $order->getPackageNo()}| <strong>Č. balíku:</strong> {$order->getPackageNo()}{/if}
								</span>
								{/if}
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-xs-12">
							<div class="small-box bg-aqua">
								<div class="inner">
									<h3>{if $order->isPayed()}Uhrazeno{else}Neuhrazeno{/if}</h3>

									<p>Stav uhrazení</p>
								</div>
								<div class="icon">
									<i class="fa fa-dollar"></i>
								</div>
								{if !$order->isCanceled() && !$order->getPayment() && !$order->isPayed()}
									{if !$isOrderBillable}
										<a n:href="setPayed!" class="small-box-footer">
											Objednávka zaplacena <i class="fa fa-arrow-circle-right"></i>
										</a>
									{else}
										<a href="#" class="small-box-footer" data-toggle="modal" data-target="#set-payment">
											Zadat platbu <i class="fa fa-arrow-circle-right"></i>
										</a>
									{/if}
								{else}
								<span class="small-box-footer">
									{if $order->getPayment()}
										Zaplaceno: {$order->getPayment()->getReceivedAmount()|number:0:',':''},- Kč
										| {if $order->getPayment()->isPaidByCard()}Kartou{elseif $order->getPayment()->isPaidCash()}Hotově{/if}
										|
										{if $order->getPayment()->isPaidByCard()}
											Poplatek: {$order->getPayment()->getPaymentByCardCharge()|number:0:',':''},- Kč
										{elseif $order->getPayment()->isPaidCash()}
											Vráceno: {$order->getPayment()->getReceivedAmount() - $order->getTotalPrice()|number:0:',':''},- Kč
										{/if}

									{/if}
									<div n:ifset="$receiptDownloadLink" id="receipt-download-link" data-url="{$receiptDownloadLink}"></div>
								</span>
								{/if}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="box box-success">
								<div class="box-header with-border">
									<h3 class="box-title">Informace o objednávce</h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-5">
											<strong>Číslo objednávky:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getOrderNo()}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Datum vytvoření: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getCreated()|date:'d.m.Y H:i'}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Datum poslední úpravy: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getUpdated()|date:'d.m.Y H:i'}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Celková cena: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right"><strong>{$order->getTotalPrice()|number:0:',':''},- Kč </strong>(sleva {$order->getDiscount()|number:0:',':''},- Kč)</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Doprava: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right text-right">
												{if $order->getDelivery()}
													{$order->getDelivery()->getName()}
													{if $order->getDeliveryOrderLine()->isFreeDelivery()}
														(doprava zdarma)
													{else}
														({$order->getDeliveryOrderLine()->getUnitPrice()|number:0:',':''},- Kč)
													{/if}
													{if $order->getDelivery()->getId() === $czechPostOfficeBinding && $order->getDeliveryOrderLine()->getCzechPostOffice() !== null}
														<br> <em>{$order->getDeliveryOrderLine()->getCzechPostOffice()->getAddress()}</em>
													{elseif $order->getDelivery()->getId() === $czechPostBoxBinding && $order->getDeliveryOrderLine()->getCzechPostBox() !== null}
														<br> <em>{$order->getDeliveryOrderLine()->getCzechPostBox()->getAddress()}</em>
													{/if}
												{else}
													Zakoupeno na prodejně
												{/if}
											</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Způsob platby: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">
												{if $order->getPaymentTypeOrderLine()}
													{$order->getPaymentTypeOrderLine()->getPaymentType()->getName()} ({$order->getPaymentTypeOrderLine()->getUnitPrice()|number:0:',':''},- Kč)
												{else}
													Zakoupeno na prodejně
												{/if}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						{var $contact = $order->getContactInformation()}
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Kontaktní údaje</h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-5">
											<strong>Jméno: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$contact->getName()} {$contact->getLastName()}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Telefon: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$contact->getPhone()}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>E-mail: </strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right"><a href="mailto:{$contact->getEmail()}">{$contact->getEmail()}</a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						{var $ivoice = $order->getInvoiceInformation()}
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="box box-warning">
								<div class="box-header with-border">
									<h3 class="box-title">Fakturační údaje</h3>
								</div>
								<div class="box-body">
									<strong>{$contact->getName()} {$contact->getLastName()}</strong>
									<p>
										{$ivoice->getStreet()}<br>
										{$ivoice->getCity()}, {$ivoice->getZip()}<br>
										{\App\Lists\CountryList::getStatusLabel($ivoice->getCountry())}<br>
										{if $ivoice->getCompany() && strlen($ivoice->getCompany())}
										<span><strong>Firma:</strong> {$ivoice->getCompany()}</span><br>
										{/if}
										{if $ivoice->getIco() && strlen($ivoice->getIco())}
										<span><strong>IČO:</strong> {$ivoice->getIco()}</span><br>
										{/if}
										{if $ivoice->getDic() && strlen($ivoice->getDic())}
										<span><strong>DIČ:</strong> {$ivoice->getDic()}</span>
										{/if}
									</p>
								</div>
							</div>
						</div>
						{var $address = $order->getDeliveryAddress()}
						<div n:ifset="$address" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Dodací adresa</h3>
								</div>
								<div class="box-body">
									<strong>{$address->getName()} {$address->getLastName()}</strong>
									<p>
										{if $address->getCompany() && strlen($address->getCompany())}{$address->getCompany()}<br>{/if}
										{$address->getStreet()}<br>
										{$address->getCity()}, {$address->getZip()}<br>
										{\App\Lists\CountryList::getStatusLabel($address->getCountry())}
									</p>
								</div>
							</div>
						</div>
						<div n:if="$order->getCustomerNote() && strlen($order->getCustomerNote()) > 0" class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Poznámka od zákazníka</h3>
								</div>
								<div class="box-body">
									<p>
										{$order->getCustomerNote()}
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div n:if="$order->hasLyoneesCard()" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="box box-warning box-solid">
								<div class="box-header with-border">
									<h3 class="box-title">Zřizení Lyoness karty</h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-5">
											<strong>Datum narození:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getBirthDay()}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						{var $deliveryPrice = ($order->getDelivery()) ? $order->getDelivery()->getPrice() : 0}
						<div n:if="$order->getTotalPrice() - $deliveryPrice > 4000" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="box box-danger box-solid">
								<div class="box-header with-border">
									<h3 class="box-title">Dodatečné informace</h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-12">
											<span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Cena objednávky je dostatečně velká pro zaslání dárku
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="row" n:if="$order->getLastProcessedEetReceipt()">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="box box-warning box-solid">
								<div class="box-header with-border">
									<h3 class="box-title">EET účtenka</h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-5">
											<strong>Stav odeslání:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">
												{if $order->getLastProcessedEetReceipt()->isProcessed()}OK{else}NEZPRACOVÁNO{/if}
											</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Datum odeslání:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getLastProcessedEetReceipt()->getSendDate()|date:'d. m. Y H:i:s'}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>UUID:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getLastProcessedEetReceipt()->getUuid()}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>FIK:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getLastProcessedEetReceipt()->getFik()}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>BKP:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">{$order->getLastProcessedEetReceipt()->getBkp()}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>PKP:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right pkp-code">{$order->getLastProcessedEetReceipt()->getPkp()}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<strong>Režim:</strong>
										</div>
										<div class="col-md-7">
											<span class="pull-right">
												{if $order->getLastProcessedEetReceipt()->isTest()}TEST{else}PROD{/if}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3>Objednané zboží</h3>
						</div>
						<div class="col-md-12">
							{control orderLines}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3>Komentáře k objednávce</h3>
						</div>
						<div class="col-md-12">
							{control orderComments}
						</div>
					</div>
				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="documents">
					{control documentsList}
				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="emails">
					{control emailsList}
				</div>
			</div>
		</div>
	</div>

</div>

<div n:if="!$order->isCanceled() && !$order->getPayment() && $isOrderBillable" class="modal fade" id="set-payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		{form paymentForm}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Zadání platby</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="col-md-12">
							{input amount class=>"form-control", placeholder=>"Částka obdržená při platbě v hotovosti"}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button n:name="paidByCard" class="btn btn-default">Placeno kartou</button>
					<button n:name="paidCash" id="btn-send-paid-cash" class="btn btn-primary">Placeno hotově</button>
				</div>
			</div>
		{/form}
	</div>
</div>

<div n:if="!$isOrderBillable" class="modal fade" id="shippingPackageNo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Zadejte číslo balíku</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input class="form-control" id="packageNo" placeholder="Číslo balíku">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="sendPackageShipping" data-url="{link setShipped!}">Uložit změnu</button>
			</div>
		</div>
	</div>
</div>

<div n:if="!$order->isCanceled()" class="modal modal-danger fade" id="orderCancelModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Storno objednávky č. {$order->getOrderNo()}</h4>
			</div>
			<div class="modal-body">
				<p>Chystáte se stornovat objednávku č. {$order->getOrderNo()}. Opravdu chcete tuto akci provést? Pokud ano, má se zaslat notifikace zákazníkovi o stornu?</p>
			</div>
			<div class="modal-footer">
				<a n:href="setCanceled! true">
					<button type="button" class="btn btn-outline">Stornovat a zaslat notifikaci</button>
				</a>
				<a n:href="setCanceled! false">
					<button type="button" class="btn btn-outline">Stornovat, ale nezasílat nofitikaci</button>
				</a>
				<button type="button" class="btn btn-outline" data-dismiss="modal">Zrušit akci</button>
			</div>
		</div>
	</div>
</div>

{/block}

{block js}
	<script src="{$basePath}/dist/admin/js/order.js?v=0.1"></script>
{/block}
