<div class="row">
	<form n:name="form">
		<div class="col-md-12">
			<div class="form-group">
				<label n:name="product">Vyberte produkt</label>
				<select n:name="product"></select>
			</div>
			<div class="form-group">
				<button n:name="save" class="btn btn-success">Uložit</button>
			</div>
		</div>
	</form>
</div>
{snippet related-products-list}
	<div class="row">
	{foreach $productRelations as $relation}
		<div class="col-sm-4 col-md-3 text-center">
			{var $product = $relation->getRelatedProduct()}
			<div class="thumbnail">
				{if $product->getMainImage()}<img n:img="$product->getMainImage()->getPath() , '200x200', 'fit', 70" class="product-item__img" alt="{$product->getName()}">{/if}
				<div class="caption">
					<h3>{$product->getName()}</h3>
					<p>
						<a href="{plink Product:edit $product->getId()}" target="_blank" class="btn btn-primary" role="button">Zobrazit detail</a>
						<a n:href="removeRelation! $relation->getId()" class="btn btn-danger ajax" role="button">Odstranit související</a>
					</p>
				</div>
			</div>
		</div>
	{if $iterator->counter % 4 == 0}</div><div class="row">{/if}
	{/foreach}
	</div>
{/snippet}