{block title}
	Novinky{if $paginationPage > 1} - {$paginationPage}. strana{/if} | {$webTitle}
{/block}

{block headMeta}
	<link n:if="$prevLink" rel="prev" href="{$prevLink}" />
	<link n:if="$nextLink" rel="next" href="{$nextLink}" />
{/block}

{block content}
	<h1>Nejnovější produkty</h1>

	<div class="products-listing-wrapper">
		<div class="react-listing"
		     data-producers="{$availableProducers}"
		     data-current-page="{$pagination->getPage()}"
		     data-pages-count="{$pagination->getPagesCount()}"
		     data-listing-type="new-products"
		></div>

		<div class="product-list">
			<hr class="top-line" />
			{foreach $products as $product}
				{include '../components/productItem.latte' product=>$product}
			{/foreach}
		</div>

		<div class="pagination pagination-bottom"></div>
	</div>

{/block}

{block js}
	<script type="text/javascript" src="{$basePath}/dist/front/dist/listing-page.min.js" async defer></script>
{/block}