{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td>
					<p>Gratulujeme k úspěšné registraci na webu {$applicationSettings->getWebsiteTitle()}!</p>
					<p>Pro přihlášení je ještě potřeba udělat poslední krok, a to potvrdit vaši registraci. Učiňte tak prosím, aby bylo vše kompletní. </p>
					<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
					  <tbody>
						<tr>
							<td align="left">
								<table border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td> <a href="{link Front:Sign:auth , hash=>$hash}" target="_blank">Potvrdit registraci</a> </td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td>
							<p>
								<small>Pokud vám nefunguje tlačítko, pro potvrzení, zkopírujte tuto adresu do vašeho prohlížeče: {link Front:Sign:auth , hash=>$hash}</small>
							</p>
							</td>
						</tr>
					  </tbody>
					</table>
					<p>Jsme rádi, že se chcete stát jedním z mnoha spokojených zákazníků a doufáme, že budete spokojeni s nákupem.</p>
					<p>Přejeme krásný den a příjemný nákup, <br /> Tým {$applicationSettings->getWebsiteTitle()}.</p>
				  </td>
				</tr>
			</table>
		</td>
	</tr>
</table>