{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td>
					{$messageBody|noescape}
				  </td>
				</tr>
			</table>
		</td>
	</tr>
</table>