{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<p>Vážená paní, Vážený pane,</p>
						<p>
							v souvislosti s novým nařízením EU o ochraně osobních údajů (GDPR), které vstupuje v platnost
							25. května 2018 Vás žádáme o udělení/obnovení Vašeho souhlasu se zpracováním osobních údajů.
							Tento Váš souhlas potřebujeme, abychom Vám mohli nadále zasílat e-mailem náš Newsletter a zůstat tak s Vámi v kontaktu.
						</p>
						<p>
							Doufáme, že je pro Vás obsah užitečný a zajímavý, proto Vás prosíme o aktualizaci odběru newsletteru.
						</p>
						<p>&nbsp;</p>
						<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
							<tbody>
							<tr>
								<td align="left">
									<table border="0" cellpadding="0" cellspacing="0">
										<tbody>
										<tr>
											<td class="align-center"> <a href="{link Front:Homepage:mailingConfirmation , hash=>$hash}" target="_blank">Aktualizovat odběr</a> </td>
										</tr>
										</tbody>
									</table>
								</td>
							</tr>
							</tbody>
						</table>
						<p>&nbsp;</p>
						<p>
							<small>Pokud vám nefunguje tlačítko, pro potvrzení, zkopírujte tuto adresu do vašeho prohlížeče: {link Front:Homepage:mailingConfirmation , hash=>$hash}</small>
						</p>
						<p>&nbsp;</p>
						<p>Přejeme krásný den, <br /> Tým {$webTitle}.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>