{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td>
					<p>Vážený zákazníku,</p>
					<p>dne <strong>{$order->getCreated()|date:'d. m. Y'}</strong> jste vytvořil objednávku č. <strong>{$order->getOrderNo()}</strong>, která Vám byla následně zaslána.</p>
					  <p>
						  Objednávka se nám ale vrátila zpět na prodejnu. Tímto Vás žádáme o úhradu poštovného
						  do 10 dnů na náš účet.
					  </p>
					  <p>
					    Číslo účtu: <strong>{$applicationSettings->getBankAccount()}</strong><br>
						Variabilní symbol: <strong>{$order->getOrderNo()}</strong><br>
						Částka: <strong>{$order->getDelivery()->getPrice()},- Kč</strong>
					  </p>
					<p>&nbsp;</p>
					<p>Rekapitulace Vaší objednávky:</p>
					  <table border="0" cellpadding="0" cellspacing="0">
						  <tbody>
						  <tr>
							  <th align="left">Produkt</th>
							  <th align="left">Počet kusů</th>
							  <th align="left">Celková cena</th>
						  </tr>
						  <tr n:foreach="$order->getOrderLines() as $orderLine">
							  <td align="left">
								  {if $orderLine instanceof \App\Order\OrderLine\ProductOrderLine}
									  {$orderLine->getTitle()}
								  {else}
									  {$orderLine}
								  {/if}
							  </td>
							  <td align="left">
								  {$orderLine->getCount()} ks
							  </td>
							  <td align="left">
								  {$orderLine->getCount() * $orderLine->getUnitPrice()},- Kč
							  </td>
						  </tr>
						  <tr class="price-divider">
							  <td colspan="3"><hr></td>
						  </tr>
						  <tr>
							  <td><strong>Celková cena:</strong></td>
							  <td>&nbsp;</td>
							  <td><strong>{$order->getTotalPrice()},- Kč</strong></td>
						  </tr>
						  </tbody>
					  </table>
					<p>&nbsp;</p>

					<p>Děkujeme a přejeme krásný den, <br /> Tým {$applicationSettings->getWebsiteTitle()}.</p>
				  </td>
				</tr>
			</table>
		</td>
	</tr>
</table>