{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td>
					<p>Vážený zákazníku,</p>
					<p>&nbsp;</p>
					<p>Vaše objednávka číslo: {$order->getOrderNo()} je připravena k osobnímu vyzvednutí na naší <a href="{link Front:Homepage:contact}">prodejně</a>.</p>
					<p>Otevírací doba: <strong>pondělí až pátek - 10:00 až 18:00</strong></p>
					<p>Vyzvedněte si prosím objednávku do 5 pracovních dní.</p>
					<p>&nbsp;</p>
					<p>Přejeme krásný den, <br /> Tým {$applicationSettings->getWebsiteTitle()}.</p>
				  </td>
				</tr>
			</table>
		</td>
	</tr>
</table>