{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<p>Vážený zákazníku,</p>
						<p>
							doposud jste nezaplatil za svou objednávku číslo <strong>{$order->getOrderNo()}</strong> ze dne
							<strong>{$order->getCreated()|date:'d. m. Y H:i'}</strong>,
							kterou u nás evidujeme. Prosím proveďte platbu co nejdříve na níže uvedený účet s
							variabilním symbolem <strong>{$order->getOrderNo()}</strong>.
							Nezaplacené objednávky jsou automaticky mazány po
							pěti dnech (viz mail s potvrzením obj). Pokud jste volbu platby převodem zvolil omylem,
							nebo již o zboží nemáte zájem, prosím odpovězte na tento email.
						</p>
						<p>
							Číslo účtu: <strong>{$applicationSettings->getBankAccount()}</strong><br>
							Variabilní symbol: <strong>{$order->getOrderNo()}</strong><br>
							Částka: <strong>{$order->getDelivery()->getPrice()},- Kč</strong>
						</p>
						{*
						<p>
							Čísla účtů pro zákazníky v SR: <br>
							Číslo účtu: <strong>2900155509/8330</strong><br>
							IBAN: <strong>CZ8920100000002900155509</strong><br>
							BIC/SWIFT: <strong>FIOBCZPPXXX</strong><br>
							Adresa banky: Fio banka, a.s., V Celnici 1028/10, Praha 1
						</p>
						*}
						<p>&nbsp;</p>
						<p>Rekapitulace Vaší objednávky:</p>
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
								<th align="left">Produkt</th>
								<th align="left">Počet kusů</th>
								<th align="left">Celková cena</th>
							</tr>
							<tr n:foreach="$order->getOrderLines() as $orderLine">
								<td align="left">
									{if $orderLine instanceof \App\Order\OrderLine\ProductOrderLine}
										{$orderLine->getTitle()}
									{else}
										{$orderLine}
									{/if}
								</td>
								<td align="left">
									{$orderLine->getCount()} ks
								</td>
								<td align="left">
									{$orderLine->getCount() * $orderLine->getUnitPrice()},- Kč
								</td>
							</tr>
							<tr class="price-divider">
								<td colspan="3"><hr></td>
							</tr>
							<tr>
								<td><strong>Celková cena:</strong></td>
								<td>&nbsp;</td>
								<td><strong>{$order->getTotalPrice()},- Kč</strong></td>
							</tr>
							</tbody>
						</table>
						<p>&nbsp;</p>

						<p>Děkujeme a přejeme krásný den, <br /> Tým {$applicationSettings->getWebsiteTitle()}.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>