{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td>
					<p>Vážený zákazníku,</p>
					<p>&nbsp;</p>
					<p>Vaše objednávka číslo: {$order->getOrderNo()} byla expedována.</p>
					<p>Číslo balíku, pod kterým ho můžete sledovat: {$order->getPackageNo()}</p>
					<p n:ifset="$url">
						URL adresa, kde můžete sledovat stav vaší zásilky u dopravce: <br> {$url}
					</p>
					<p>&nbsp;</p>
					<p>Přejeme krásný den, <br /> Tým {$applicationSettings->getWebsiteTitle()}.</p>
				  </td>
				</tr>
			</table>
		</td>
	</tr>
</table>