{layout '@emailLayout.latte'}

{block content}

<table class="main">
	<tr>
		<td class="wrapper">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
				  <td>
					<p>Vážený zákazníku,</p>
					<p>Vaše objednávka číslo <strong>{$order->getOrderNo()}</strong> byla <strong>STORNOVÁNA</strong></p>
					<p>&nbsp;</p>
					<p>Objednanávka obsahovala toto zboží:</p>
					  <table border="0" cellpadding="0" cellspacing="0">
						  <tbody>
						  <tr>
							  <th align="left">Produkt</th>
							  <th align="left">Počet kusů</th>
							  <th align="left">Celková cena</th>
						  </tr>
						  <tr n:foreach="$order->getOrderLines() as $orderLine">
							  <td align="left">
								  {if $orderLine instanceof \App\Order\OrderLine\ProductOrderLine}
									  {$orderLine->getTitle()}
								  {else}
									  {$orderLine}
								  {/if}
							  </td>
							  <td align="left">
								  {$orderLine->getCount()} ks
							  </td>
							  <td align="left">
								  {$orderLine->getCount() * $orderLine->getUnitPrice()},- Kč
							  </td>
						  </tr>
						  <tr class="price-divider">
							  <td colspan="3"><hr></td>
						  </tr>
						  <tr>
							  <td><strong>Celková cena:</strong></td>
							  <td>&nbsp;</td>
							  <td><strong>{$order->getTotalPrice()},- Kč</strong></td>
						  </tr>
						  </tbody>
					  </table>
					<p>&nbsp;</p>
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<th align="left">Fakturační adresa</th>
							<th align="left">Dodací adresa</th>
						</tr>
						<tr>
							<td align="left">
								{var $contactInformation = $order->getContactInformation()}
								{var $invoiceInformation = $order->getInvoiceInformation()}
								Jméno: {$contactInformation->getName()}<br>
								Příjmení: {$contactInformation->getLastName()}<br>
								Ulice: {$invoiceInformation->getStreet()}<br>
								Obec: {$invoiceInformation->getCity()}<br>
								PSČ: {$invoiceInformation->getZip()}<br>
								Stát: {\App\Lists\CountryList::getStatusLabel($invoiceInformation->getCountry())}<br>
								Telefon: {$contactInformation->getPhone()}<br>
								Firma: {$invoiceInformation->getCompany()}<br>
								IČ: {$invoiceInformation->getIco()}<br>
								DIČ: {$invoiceInformation->getDic()}
							</td>
							<td align="left">
								{var $deliveryAddress = $order->getDeliveryAddress()}
								Jméno: {$deliveryAddress->getName()}<br>
								Příjmení: {$deliveryAddress->getLastName()}<br>
								Ulice: {$deliveryAddress->getStreet()}<br>
								Obec: {$deliveryAddress->getCity()}<br>
								PSČ: {$deliveryAddress->getZip()}<br>
								Stát: {\App\Lists\CountryList::getStatusLabel($deliveryAddress->getCountry())}<br>
								Firma: {$deliveryAddress->getCompany()}
							</td>
						</tr>
					</table>
					<p>&nbsp;</p>
					  <table border="0" cellpadding="0" cellspacing="0">
						  <tr>
							  <th align="left">Způsob dopravy:</th>
							  <th align="left">Způsob platby:</th>
						  </tr>
						  <tr>
							  <td align="left">
								  {if $order->getDelivery()}
									  {$order->getDelivery()->getName()}
									  {if $order->getDelivery()->getId() === $czechPostOfficeBinding && $order->getDeliveryOrderLine()->getCzechPostOffice() !== null}
										  <br> {$order->getDeliveryOrderLine()->getCzechPostOffice()->getAddress()}
									  {elseif $order->getDelivery()->getId() === $czechPostBoxBinding && $order->getDeliveryOrderLine()->getCzechPostBox() !== null}
										  <br> {$order->getDeliveryOrderLine()->getCzechPostBox()->getAddress()}
									  {/if}
								  {else}
									  Osobní odběr na prodejně
								  {/if}
							  </td>
							  <td align="left">
								  {if $order->getPaymentType()}{$order->getPaymentType()->getName()}{/if}
							  </td>
						  </tr>
					  </table>
					<p>&nbsp;</p>
					<p>Přejeme krásný den, <br /> Tým {$applicationSettings->getWebsiteTitle()}.</p>
				  </td>
				</tr>
			</table>
		</td>
	</tr>
</table>