{layout '@emailLayout.latte'}

{block content}

<table class="main">
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h2>Nová poptávka produktu</h2>
                        <p>
                        	Přišla poptávka na následující produkt:
                        </p>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <th align="left">Produkt</th>
                                    <td align="left">{$productName}</td>
                                </tr>
                                <tr>
                                    <th align="left">Číslo produktu</th>
                                    <td align="left">{$productNo}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p>
                            Zákazník:
                        </p>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <th align="left">Jméno</th>
                                    <td align="left">{$customer['name']}</td>
                                </tr>
                                <tr>
                                    <th align="left">Telefon</th>
                                    <td align="left">{$customer['phone']}</td>
                                </tr>
                                <tr>
                                    <th align="left">Email</th>
                                    <td align="left">{$customer['email']}</td>
                                </tr>
                                <tr>
                                    <th align="left">Vzkaz</th>
                                    <td align="left">{$customer['message']}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Přejeme krásný den a příjemný nákup, <br /> {$applicationSettings->getWebsiteTitle()}.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>