{layout '@emailLayout.latte'}

{block content}

<table class="main">
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Vážený zákazníku,</p>
                        <p>zažádal jsi o obnovení hesla na webu {$webTitle}. Zasíláme ti tedy nově vytvořené heslo, které ti pomůže se znovu přihlásit do eshopu.</p>
                        <p>Důrazně ale doporučujeme si jej ihned změnit po přihlášení na nové heslo, které znáte pouze ty a které si buddeš snadno pamatovat.</p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                            <tbody>
                            <tr>
                                <td align="left">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                        <tr>
                                            <td> Nové heslo: {$password} </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p>Pokud jste tuto žádost o nové heslo nevytvořili, informujte nás prosím emailem na adresu <a href="mailto:{$applicationSettings->getMainMail()}">{$applicationSettings->getMainMail()}</a>. Děkujeme.</p>
                        <p>Přejeme krásný den a příjemný nákup, <br /> Tým {$applicationSettings->getWebsiteTitle()}.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>