{layout '@emailLayout.latte'}

{block content}

<table class="main">
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Vážený zákazníku,</p>
                        <p>
                        	nechal jste si u nás hlídat dostupnost produktu
                        	<a href="{link Front:Product:default (expand) $urlArgs}">{$productName}</a>
                        	Tento produkt je již dostupný pro objednání, proto neváhejte navštívit náš web a produkt si objednat.
                        </p>

                        <p>Přejeme krásný den a příjemný nákup, <br /> {$applicationSettings->getWebsiteTitle()}.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>