<div class="row">
	<div class="col-md-12">
		<a n:if="$canGenerateInvoice" n:href="generateInvoicePdf!"><button type="button" class="btn btn-default" onclick="return confirm('Chystáte se vygenerovat fakturu pro tuto objednávku. Chcete pokračovat?');">Vygenerovat fakturu</button></a>
		<a n:if="$canGenerateBill" n:href="generateBillPdf!"><button type="button" class="btn btn-default" onclick="return confirm('Chystáte se vygenerovat prodejní doklad pro tuto objednávku. Chcete pokračovat?');">Vygenerovat prodejní doklad</button></a>
		<a n:if="$canGenerateCancelDocument" n:href="generateInvoiceCancellationPdf!"><button type="button" class="btn btn-default" onclick="return confirm('Chystáte se vygenerovat storno doklad pro tuto objednávku. Chcete pokračovat?');">Vygenerovat storno doklad</button></a>
		<a n:if="$canGenerateInvoiceCorrectionDocument" data-toggle="modal" data-target="#correctionVariantsForm"><button type="button" class="btn btn-default">Vygenerovat opravný daňový doklad</button></a>
		<a n:href="generateOrderProductsListPdf!"><button type="button" class="btn btn-default">Vygenerovat soupis objednávky</button></a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-hover">
			<thead>
			<tr>
				<th>Číslo</th>
				<th>Typ</th>
				<th>Vytvořeno</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr n:foreach="$documents as $document">
				<td>{$document->getNumber()}</td>
				<td>{$document->getLabel()}</td>
				<td>{$document->getCreated()|date:'d.m.Y H:i'}</td>
				<td class="text-right">
					<a n:href="downloadDocument! $document->getId()" class="btn btn-primary btn-xs">
						<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Stáhnout
					</a>
					<a n:href="removeReceiptFile!" class="btn btn-danger btn-xs" onclick="return confirm('Chystáte se smazat doklad pro tuto objednávku. Chcete pokračovat?');">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Smazat
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div n:if="$canGenerateInvoiceCorrectionDocument" class="modal fade" id="correctionVariantsForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		{form orderVariantsCorrectionForm}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Produkty k vrácení</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{foreach $form->getComponent('orderLines')->getComponents() as $priceVariant}
							{formContainer $priceVariant}
							<div class="row">
								<label n:name="toReturn" class="col-md-10 control-label" />
								<div class="col-md-2">
									<input n:name="toReturn" class="form-control">
								</div>
							</div>
							{/formContainer}
						{/foreach}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
					<button n:name="save" class="btn btn-primary" onclick="return confirm('Chystáte se vygenerovat opravný daňový doklad pro tuto objednávku. Chcete pokračovat?');">Uložit a vygenerovat doklad</button>
				</div>
			</div>
		{/form}
	</div>
</div>