{block content}
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">{$actionTitle}</h3>
		<div class="box-tools pull-right">
			<a n:href="change type=>$newAction" class="btn btn-success">
				<i class="fa fa-plus"></i> Nová
			</a>
		</div>
	</div>
	<div class="box-body">
		{control filesGrid}
	</div>
</div>

