{block content}
<div class="box">
	{form operationForm role=>'form', id=>'main-form'}
	<div class="box-header with-border">
		<h3 class="box-title">{$actionTitle}</h3>
		<div class="row">
			<div class="col-md-6">
				<select n:name="stock" class="form-control input-lg"></select>
			</div>
			<div class="col-md-6">
				<div class="input-group date">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input n:name="date" class="form-control input-lg datepicker" placeholder="Vystaveno ke dni">
				</div>
			</div>
		</div>
	</div>

	<div class="box-body">
		{include '../formErrors.latte', form=>$form}
		<div class="col-md-12">
			<input id="products-variants" class="col-md-12" data-items-search-url="{link :Api:Product:searchVariants}"/>
		</div>
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table" id="products-to-add">
					<thead>
					<tr>
						<th>Kód</th>
						<th>Produkt</th>
						<th>Počet kusů</th>
						<th n:if="$showPrice">Nákupní cena bez DPH</th>
						<th n:if="$showPrice">Prodejní cena s DPH</th>
						<th n:if="$showPrice">Marže</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{foreach $variants as $id => $variant}
						<tr id="order-line-{$id}">
							<td>{$variant['code']}</td>
							<td>{$variant['name']}</td>
							<td>
								<input name="variants-count[{$id}]" class="onchange-submit" value="{$variant['count']}">
							</td>
							<td n:if="$showPrice">
								<input name="variants-purchasePrice[{$id}]" class="onchange-submit" value="{$variant['purchasePriceWithoutVat']}">
							</td>
							<td n:if="$showPrice">
								<input name="variants-price[{$id}]" class="onchange-submit" value="{$variant['price']}">
							</td>
							<td n:if="$showPrice">{$variant['margin']} %</td>
							<td>
								<a n:href="removeStockOperationLine! priceId=>$id" class="btn btn-danger btn-circle">
									<i class="fa fa-times"></i>
								</a>
							</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-12 text-center">
			<button n:name="save" class="btn btn-success">
				<i class="fa fa-save"></i> Uložit
			</button>
		</div>

	</div>
	{/form}
</div>

{/block}
