{block content}
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">{$product->getName()} </h3>
		<div class="box-tools pull-right">
			kat. č. {$product->getNumber()}
		</div>
	</div>
	<div class="box-body">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				{foreach $stockList as $id => $stock}
					<li {if $id == $selectedStock->getId()}class="active"{/if}><a n:href="this stock=>$id">{$stock}</a></li>
				{/foreach}
			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
					{control priceVariantGrid}
				</div>
			</div>
		</div>
	</div>
	{*
	<div class="box-footer">
		The footer of the box
	</div>
	*}
</div>