{block content}
<div class="box">
	{form inventoryValuationForm}
	<div class="box-header with-border">
		<h3 class="box-title">Vygenerování soupisu skladových zásob</h3>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="input-group date">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input n:name="date" class="form-control input-lg datepicker" placeholder="Vystaveno ke dni">
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<button n:name="generate" class="col-xs-12 btn btn-success input-lg">
					<i class="fa fa-save"></i> Vygenerovat dokument
				</button>
			</div>
		</div>
	</div>
	{/form}
</div>