<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<title>Prodejní doklad</title>

	<style>

		@page
		{
			size: auto;   /* auto is the initial value */

			/* this affects the margin in the printer settings */
			margin: 5mm 5mm 5mm 5mm;
		}


		* {
			margin: 0;
			padding: 0;
		}

		body {
			font: 14px/1.4 Georgia, serif;
			margin: 0px;
		}

		#footer {
			height: 15px;
			width: 800px;
			margin: 20px auto 0;
			font: 13px Helvetica, Sans-Serif;
			text-align: center;
		}

		#header {
			width: 800px;
			margin: 0 auto;
			height: 25px;
		}

		#header table { width: 100%; }
		#header .left { width: 50%; text-align: left; }
		#header .right { width: 50%; text-align: right; }

		#page-wrap {
			width: 800px;
			margin: 0 auto;
			border: 1px solid #000000;
		}

		table { border-collapse: collapse; }
		table td, table th { padding: 5px; }

		#basic-info { width: 100%; }
		#basic-info div { font-weight: 900; }
		#address { padding: 5px; width: 240px; }

		#shop {
			padding: 5px;
			width: 140px;
		}

		#customer {
			width: 400px;
			border: 2px solid #000000;
			vertical-align: top;
		}

		.meta {
			width: 100%;
		}

		.meta-right {
			margin-top: 20px;
		}

		.meta td {
			text-align: right;
		}
		.meta td.meta-head {
			text-align: left;
			background: #eee;
		}

		#items {
			width: 100%;
			margin: 30px 0 15px 0;
			border-bottom: 1px solid #000000;
		}
		#items th {
			border-bottom: 1px solid #000000;
			border-top: 1px solid #000000;
			text-align: left;
			background: #eee;
		}

		#items tr.item-row td {
			border-bottom: 1px solid #000000;
			vertical-align: top;
		}

		#items td.item-name { width: 200px; }
		#items td.total-value { border-left: 0; padding: 10px; }
		#items td.balance { background: #eee; text-align: right; font-weight: bold;}
		#items td.price { text-align: right; }
		#items th.price { text-align: right; }
		#items td.quantity { text-align: center; }
		#items th.quantity { text-align: center; }

		#summary-tables {
			width: 100%;
			margin-top: 150px;
		}

		#payment-info {
			width: 100%;
			margin-top: 25px;
			float: left;
		}

		#vat-recap {
			width: 100%;
			font-size: smaller;
		}

		#vat-recap th {
			text-align: right;
			font-weight: normal;
		}

		#vat-recap td {
			text-align: right;
		}

		#endline-info td {
			/* width: 50%; */
			font: 13px Helvetica, Sans-Serif;
		}

		#terms { text-align: center; margin: 20px 0 0 0; }
		#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }

	</style>

</head>

<body>

<div id="header">
	<table>
		<tr>
			<td class="left">
				{$webTitle}
			</td>
			<td class="right">
				Daňový doklad č. {$number}
			</td>
		</tr>
	</table>
</div>
<div id="page-wrap">
	<table id="basic-info">
		<tr>
			<td id="address">
				<div>Dodavatel:</div>
				{$contractorAddress|noescape}
				<br><br>
				IČ: {$ico}<br>
				DIČ: {$dic}<br>
				Tel.: {$phone}<br>
				E-mail: {$mainEmail}<br>
				{$mainUrl}
			</td>
			<td id="shop">
				<span>Provozovna:</span><br>
				{$officeAddress|noescape}
			</td>
			<td id="customer">
				{var $invoiceInformation = $order->getInvoiceInformation()}
				<span>Odběratel:</span><br>
				{if strlen($invoiceInformation->getCompany()) > 0}{$invoiceInformation->getCompany()} <br>{/if}
				{$order->getContactInformation()->getName()} {$order->getContactInformation()->getLastName()} <br>
				{$invoiceInformation->getStreet()}<br>
				{$invoiceInformation->getZip()} {$invoiceInformation->getCity()}
				<br><br>
				IČ: {$invoiceInformation->getIco()}<br>
				DIČ: {$invoiceInformation->getDic()}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="meta">
					<tr>
						<td class="meta-head">Zdanitelné plnění</td>
						<td>{$createdDate|date:'d. m. Y'}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="meta">
					<tr>
						<td class="meta-head">Objednávka číslo</td>
						<td>{$order->getOrderNo()}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<table id="items">

		<tr>
			<th>Položka</th>
			<th class="quantity">Množství</th>
			<th class="price">J. cena</th>
			<th class="price">Cena</th>
			<th class="price">DPH %</th>
			<th class="price">DPH</th>
			<th class="price">Celkem Kč</th>
		</tr>


		<tr n:foreach="$orderLines as $line" class="item-row">
			<td class="item-name">{$line['name']}</td>
			<td class="quantity">{$line['quantity']}</td>
			<td class="price">{$line['unitPrice']|number:2:',':''},- Kč</td>
			<td class="price">{$line['variantPriceWithoutVat']|number:2:',':''},- Kč</td>
			<td class="price">{$line['rate']}%</td>
			<td class="price">{$line['variantVat']|number:2:',':''},- Kč</td>
			<td class="price">{$line['totalPrice']|number:2:',':''},- Kč</td>
		</tr>

		<tr class="item-total">
			<td class="item-name">Součet položek</td>
			<td></td>
			<td></td>
			<td class="price">{$order->getTotalPrice() - $totalVat|number:2:',':''},- Kč</td>
			<td></td>
			<td class="price">{$totalVat|number:2:',':''},- Kč</td>
			<td class="price">{$order->getTotalPrice()|number:2:',':''},- Kč</td>
		</tr>

		<tr class="item-total">
			<td class="item-name">Celkem k úhradě</td>
			<td colspan="6" class="total-value balance">{$order->getTotalPrice()|number:2:',':''},- Kč</td>
		</tr>

	</table>

	<table id="summary-tables">
		<tr>
			<td>
				<table id="payment-info">
					<tr class="item-total">
						<td class="item-name">Forma úhrady</td>
						<td><div class="due">{$order->getPayment()->getLabel()}</div></td>
					</tr>
					<tr>
						<td class="item-name">Placeno</td>
						<td><div class="due">{$order->getPayment()->getReceivedAmount()|number:2:',':''},- Kč</div></td>
					</tr>
					<tr>
						<td class="item-name">Vráceno</td>
						<td><div class="due">{$order->getPayment()->getReceivedAmount() - $order->getTotalPrice()|number:2:',':''},- Kč</div></td>
					</tr>
					<tr>
						<td class="item-name">Vystavil</td>
						<td><div class="due"></div></td>
					</tr>
				</table>
			</td>
			<td>
				<table id="vat-recap">
					<caption>Rekapitulace DPH v Kč</caption>
					<tr>
						<th>Základ v Kč</th>
						<th>Sazba</th>
						<th>DPH v Kč</th>
						<th>Celkem s DPH v Kč</th>
					</tr>
					<tr n:foreach="$vatCalculation as $rate => $itemCalculation">
						<td>&nbsp;</td>
						<td class="data">{$itemCalculation->getBase()|number:2:',':''},- Kč</td>
						<td class="data">{$rate}%</td>
						<td class="data">{$itemCalculation->getVat()|number:2:',':''},- Kč</td>
						<td class="data">{$itemCalculation->getTotalValue()|number:2:',':''},- Kč</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<div id="end-info">
		<table id="endline-info">
			<tr>
				{var $eetReceipt = $order->getLastProcessedEetReceipt()}
				<td colspan="2" n:if="$eetReceipt->getFik()">FIK: {$eetReceipt->getFik()}</td>
				<td n:if="$eetReceipt->getBkp()">BKP: {$eetReceipt->getBkp()}</td>
				<td colspan="2" n:if="$eetReceipt->getPkp()">PKP: {$eetReceipt->getPkp()}</td>
			</tr>
			<tr>
				<td>
					DIČ pověřujícího: {$dic}
				</td>
				<td>
					Provozovna: {$shopID}
				</td>
				<td>
					Pokl. zařízení: {$cashRegisterID}
				</td>
			</tr>
			<tr>
				<td colspan="2">Datum vystavení: {$createdDate|date:'d. m. Y H:i:s'}</td>
				<td>Režim EET: běžný</td>
			</tr>
			<tr>
				<td colspan="3">
					{$footerText|noescape}
				</td>
			</tr>
		</table>
	</div>

</div>

</body>

</html>