<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<title>Faktura</title>

	<style>

		@page
		{
			size: auto;   /* auto is the initial value */

			/* this affects the margin in the printer settings */
			margin: 5mm 5mm 5mm 5mm;
		}


		* {
			margin: 0;
			padding: 0;
		}

		body {
			font: 14px/1.4 Georgia, serif;
			margin: 0px;
		}

		#header {
			width: 800px;
			margin: 0 auto;
			height: 25px;
		}

		#header table { width: 100%; }
		#header .left { width: 50%; text-align: left; }
		#header .right { width: 50%; text-align: right; }

		#page-wrap {
			width: 800px;
			margin: 0 auto;
			border: 1px solid #000000;
		}

		table { border-collapse: collapse; }
		table td, table th { padding: 5px; }

		#general-info { border-bottom: 1px solid #000000; }
		#basic-info { width: 100%; }
		#basic-info div { font-weight: 900; }
		#address { padding: 5px; width: 240px; }


		#shop {
			padding: 5px;
			width: 140px;
		}

		#customer {
			width: 400px;
			border: 2px solid #000000;
			vertical-align: top;
		}

		#customer div {
			margin-bottom: 5px;
		}

		#customer div span {
			font-weight: bold;
		}

		.meta {
			width: 100%;
		}

		.meta-right {
			margin-top: 29px;
		}

		.meta td {
			text-align: right;
		}
		.meta td.meta-head {
			text-align: left;
			background: #eee;
		}

		#items {
			width: 100%;
			border-bottom: 1px solid #000000;
		}
		#items th {
			border-bottom: 1px solid #000000;
			border-top: 1px solid #000000;
			text-align: left;
			background: #eee;
		}

		#items tr.item-row td {
			border-bottom: 1px solid #000000;
			vertical-align: top;
		}

		#items td.item-name { width: 200px; }
		#items td.total-value { border-left: 0; padding: 10px; }
		#items td.balance { background: #eee; text-align: right; font-weight: bold;}
		#items td.price { text-align: right; }
		#items th.price { text-align: right; }
		#items td.quantity { text-align: center; }
		#items th.quantity { text-align: center; }

		#summary-tables {
			width: 100%;
			font-size: 10px;
		}

		#vat-recap {
			line-height: 7px;
			float: right;
		}

		#vat-recap th {
			text-align: right;
			font-weight: normal;
		}

		#vat-recap tr td {
			text-align: right;
			width: 100px;
		}

		#sign {
			width: 100%;
		}

		#sign td {
			vertical-align: top;
			height: 75px;
			width: 50%;
			padding-left: 10px;
		}
	</style>

</head>

<body>

<div id="header">
	<table>
		<tr>
			<td class="left">
				{$webTitle}
			</td>
			<td class="right">
				{$documentTypeTitle} č. {$number}
			</td>
		</tr>
	</table>
</div>
<div id="page-wrap">
	<table id="basic-info">
		<tr id="general-info">
			<td id="address">
				<strong>Dodavatel:</strong><br>
				{$contractorAddress|noescape}
				<br><br>
				<strong>IČ:</strong> {$ico}<br>
				<strong>DIČ:</strong> {$dic}<br>
				<strong>Tel.:</strong> {$phone}<br>
				<strong>E-mail:</strong> {$mainEmail}<br>
				{$mainUrl}<br>
				<strong>Číslo účtu:</strong> {$bankAccountNumber}
			</td>
			<td id="shop">
				<strong>Provozovna:</strong><br>
				{$officeAddress|noescape}
			</td>
			<td id="customer">
				<div>
					{var $invoiceInformation = $order->getInvoiceInformation()}
					<strong>Fakturační adresa:</strong><br>
					{if strlen($invoiceInformation->getCompany()) > 0}{$invoiceInformation->getCompany()} <br>{/if}
					{$order->getContactInformation()->getName()} {$order->getContactInformation()->getLastName()} <br>
					{$invoiceInformation->getStreet()}<br>
					{$invoiceInformation->getZip()} {$invoiceInformation->getCity()}
					<br><br>
					IČ: {$invoiceInformation->getIco()}<br>
					DIČ: {$invoiceInformation->getDic()}
				</div>
				<div>
                    {var $deliveryAddress = $order->getDeliveryAddress()}
					<strong>Dodací adresa:</strong><br>
                    {if strlen($deliveryAddress->getCompany()) > 0}{$deliveryAddress->getCompany()} <br>{/if}
                    {$deliveryAddress->getName()} {$deliveryAddress->getLastName()} <br>
                    {$deliveryAddress->getStreet()}<br>
                    {$deliveryAddress->getZip()} {$deliveryAddress->getCity()}
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="meta">
					<tr>
						<td>Forma úhrady</td>
						<td>{$paymentFormName}</td>
					</tr>
					<tr>
						<td class="meta-head">Datum vystavení</td>
						<td>{$createdDate|date:'d. m. Y'}</td>
					</tr>
					<tr>
						<td class="meta-head">Datum splatnosti</td>
						<td>{$payDate|date:'d. m. Y'}</td>
					</tr>
					<tr>
						<td class="meta-head">Datum uskutečnění plnění</td>
						<td>{$createdDate|date:'d. m. Y'}</td>
					</tr>
				</table>
			</td>
			<td>
				<table class="meta meta-right">
					<tr>
						<td class="meta-head">Variabilní symbol</td>
						<td>{$number}</td>
					</tr>
					<tr>
						<td class="meta-head">Konstantní symbol</td>
						<td>0308</td>
					</tr>
					<tr>
						<td class="meta-head">Objednávka číslo</td>
						<td>{$order->getOrderNo()}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<table id="items">

		<tr>
			<th>Položka</th>
			<th class="quantity">Množství</th>
			<th class="price">J. cena</th>
			<th class="price">Cena</th>
			<th class="price">DPH %</th>
			<th class="price">DPH</th>
			<th class="price">Celkem Kč</th>
		</tr>

		<tr n:if="isset($cancellation) && $cancellation" class="item-row">
			<td class="item-name" colspan="7">*** Storno vydané faktury {$order->getReceipt()->getNumber()} ***</td>
		</tr>

		<tr n:foreach="$orderLines as $line" class="item-row">
			<td class="item-name">{$line['name']}</td>
			<td class="quantity">{$line['quantity']}</td>
			<td class="price">{$line['unitPrice']|number:2:',':''},- Kč</td>
			<td class="price">{$line['variantPriceWithoutVat']|number:2:',':''},- Kč</td>
			<td class="price">{$line['rate']}%</td>
			<td class="price">{$line['variantVat']|number:2:',':''},- Kč</td>
			<td class="price">{$line['totalPrice']|number:2:',':''},- Kč</td>
		</tr>

		<tr class="item-total">
			<td class="item-name">Součet položek</td>
			<td></td>
			<td></td>
			<td class="price">{$totals['totalWithoutVat']|number:2:',':''},- Kč</td>
			<td></td>
			<td class="price">{$totals['vat']|number:2:',':''},- Kč</td>
			<td class="price">{$totals['totalPrice']|number:2:',':''},- Kč</td>
		</tr>

		<tr class="item-total">
			<td class="item-name">Celkem k úhradě</td>
			<td colspan="6" class="total-value balance">{$totals['totalPrice']|number:2:',':''},- Kč</td>
		</tr>

	</table>

	<table id="summary-tables">
		<tr>
			<td>
				<table id="vat-recap">
					<tr>
						<th>Rekapitulace DPH v Kč</th>
						<th class="data">Základ v Kč</th>
						<th class="data">Sazba</th>
						<th class="data">DPH v Kč</th>
						<th class="data">Celkem s DPH v Kč</th>
					</tr>
					<tr n:foreach="$vatCalculation as $rate => $itemCalculation">
						<td>&nbsp;</td>
						<td class="data">{$itemCalculation->getBase()|number:2:',':''},- Kč</td>
						<td class="data">{$rate}%</td>
						<td class="data">{$itemCalculation->getVat()|number:2:',':''},- Kč</td>
						<td class="data">{$itemCalculation->getTotalValue()|number:2:',':''},- Kč</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table id="sign">
					<tr>
						<td>Převzal:</td>
						<td>Razítko:</td>
					</tr>
				</table>
			</td>
		</tr>
		{var $eetReceipt = $order->getLastProcessedEetReceipt()}
		<tr n:if="$eetReceipt">
			<td>
				<table id="endline-info">
					<tr>
						{var $eetReceipt = $order->getLastProcessedEetReceipt()}
						<td colspan="2" n:if="$eetReceipt->getFik()">FIK: {$eetReceipt->getFik()}</td>
						<td n:if="$eetReceipt->getBkp()">BKP: {$eetReceipt->getBkp()}</td>
						<td colspan="2" n:if="$eetReceipt->getPkp()">PKP: {$eetReceipt->getPkp()}</td>
					</tr>
					<tr>
						<td>
							DIČ pověřujícího: {$dic}
						</td>
						<td>
							Provozovna: {$shopID}
						</td>
						<td>
							Pokl. zařízení: {$cashRegisterID}
						</td>
					</tr>
					<tr>
						<td colspan="2">Datum vystavení: {$createdDate|date:'d. m. Y H:i:s'}</td>
						<td>Režim EET: běžný</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				{$footerText|noescape}
			</td>
		</tr>
	</table>
</div>

</body>

</html>