<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

	<title>Soupis objednávky</title>

	<style>

		@page
		{
			size: auto;   /* auto is the initial value */

			/* this affects the margin in the printer settings */
			margin: 5mm 5mm 5mm 5mm;
		}


		* {
			margin: 0;
			padding: 0;
		}

		body {
			font: 14px/1.4 Georgia, serif;
			margin: 0px;
		}

		#header {
			width: 800px;
			margin: 0 auto;
			height: 25px;
		}

		#header table { width: 100%; }
		#header .left { width: 50%; text-align: left; }
		#header .right { width: 50%; text-align: right; }

		#page-wrap {
			width: 800px;
			margin: 0 auto;
			border: 1px solid #000000;
		}

		table { border-collapse: collapse; }
		table td, table th { padding: 5px; }

		#general-info { border-bottom: 1px solid #000000; }
		#basic-info { width: 100%; }
		#basic-info div { font-weight: 900; }
		#address { padding: 5px; width: 240px; }


		#shop {
			padding: 5px;
			width: 140px;
		}

		#customer {
			width: 400px;
			border: 2px solid #000000;
			vertical-align: top;
		}

		#customer div {
			margin-bottom: 5px;
		}

		#customer div span {
			font-weight: bold;
		}

		.meta {
			width: 100%;
		}

		.meta-right {
			margin-top: 29px;
		}

		.meta td {
			text-align: right;
		}
		.meta td.meta-head {
			text-align: left;
			background: #eee;
		}

		#items {
			width: 100%;
			border-bottom: 1px solid #000000;
		}
		#items th {
			border-bottom: 1px solid #000000;
			border-top: 1px solid #000000;
			text-align: left;
			background: #eee;
		}

		#items tr.item-row td {
			border-bottom: 1px solid #000000;
			vertical-align: top;
		}

		#items td.item-name { width: 200px; }
		#items td.total-value { border-left: 0; padding: 10px; }
		#items td.balance { background: #eee; text-align: right; font-weight: bold;}
		#items td.price { text-align: right; }
		#items th.price { text-align: right; }
		#items td.quantity { text-align: center; }
		#items th.quantity { text-align: center; }

		#notes {
			width: 100%;
			border-bottom: 1px solid #000000;
		}
		#notes th {
			border-bottom: 1px solid #000000;
			border-top: 1px solid #000000;
			text-align: left;
			background: #eee;
		}

		#notes tr.item-row td {
			border-bottom: 1px solid #000000;
			vertical-align: top;
		}

		#notes td.date { width: 100px; }
		#notes td.content { border-left: 0; padding: 10px; }

	</style>

</head>

<body>

<div id="header">
	<table>
		<tr>
			<td class="left">
				{$webTitle}
			</td>
			<td class="right">
				Objednávka č. {$order->getOrderNo()}
			</td>
		</tr>
	</table>
</div>
<div id="page-wrap">
	<table id="basic-info">
		<tr id="general-info">
			<td id="address">
				<strong>Dodavatel:</strong><br>
				{$contractorAddress|noescape}
				<br><br>
				<strong>IČ:</strong> {$ico}<br>
				<strong>DIČ:</strong> {$dic}<br>
				<strong>Tel.:</strong> {$phone}<br>
				<strong>E-mail:</strong> {$mainEmail}<br>
				{$mainUrl}<br>
				<strong>Číslo účtu:</strong> {$bankAccountNumber}
			</td>
			<td id="shop">
				<strong>Provozovna:</strong><br>
				{$officeAddress|noescape}
			</td>
			<td id="customer">
				<div>
					{var $invoiceInformation = $order->getInvoiceInformation()}
					<strong>Fakturační adresa:</strong><br>
					{if strlen($invoiceInformation->getCompany()) > 0}{$invoiceInformation->getCompany()} <br>{/if}
					{$order->getContactInformation()->getName()} {$order->getContactInformation()->getLastName()} <br>
					{$invoiceInformation->getStreet()}<br>
					{$invoiceInformation->getZip()} {$invoiceInformation->getCity()}
					<br><br>
					IČ: {$invoiceInformation->getIco()}<br>
					DIČ: {$invoiceInformation->getDic()}
				</div>
				<div>
                    {var $deliveryAddress = $order->getDeliveryAddress()}
					<strong>Dodací adresa:</strong><br>
                    {if strlen($deliveryAddress->getCompany()) > 0}{$deliveryAddress->getCompany()} <br>{/if}
                    {$deliveryAddress->getName()} {$deliveryAddress->getLastName()} <br>
                    {$deliveryAddress->getStreet()}<br>
                    {$deliveryAddress->getZip()} {$deliveryAddress->getCity()}
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table class="meta">
					<tr>
						<td class="meta-head">Forma úhrady</td>
						<td>{$paymentFormName}</td>
					</tr>
				</table>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</table>

	<table id="items">

		<tr>
			<th>Položka</th>
			<th class="quantity">Množství</th>
			<th class="price">J. cena</th>
			<th class="price">Cena</th>
			<th class="price">DPH %</th>
			<th class="price">DPH</th>
			<th class="price">Celkem Kč</th>
		</tr>

		<tr n:foreach="$orderLines as $line" class="item-row">
			<td class="item-name">{$line['name']}</td>
			<td class="quantity">{$line['quantity']}</td>
			<td class="price">{$line['unitPrice']|number:2:',':''},- Kč</td>
			<td class="price">{$line['variantPriceWithoutVat']|number:2:',':''},- Kč</td>
			<td class="price">{$line['rate']}%</td>
			<td class="price">{$line['variantVat']|number:2:',':''},- Kč</td>
			<td class="price">{$line['totalPrice']|number:2:',':''},- Kč</td>
		</tr>

		<tr class="item-total">
			<td class="item-name">Součet položek</td>
			<td></td>
			<td></td>
			<td class="price">{$totals['totalWithoutVat']|number:2:',':''},- Kč</td>
			<td></td>
			<td class="price">{$totals['vat']|number:2:',':''},- Kč</td>
			<td class="price">{$totals['totalPrice']|number:2:',':''},- Kč</td>
		</tr>

		<tr class="item-total">
			<td class="item-name">Celkem k úhradě</td>
			<td colspan="6" class="total-value balance">{$totals['totalPrice']|number:2:',':''},- Kč</td>
		</tr>

	</table>

	<table id="notes">
		<tr>
			<th colspan="2">
				Poznámky k objednávce
			</th>
		</tr>
		<tr n:foreach="$order->getComments() as $comment">
			<td class="date">{$comment->getCreated()|date:'d. m. Y'}</td>
			<td class="content">{$comment->getContent()|noescape}</td>
		</tr>
	</table>

</div>

</body>

</html>