{block content}
<h1>Požadovaná stránka nebyla nalezena.</h1>
<p n:if="isset($message) && strlen($message) > 0">{$message}</p>
<p>
    Stránku, kterou se snažíte zobrazit, neexistuje, nebo je aktuálně neaktivní.
    Vraťte se prosím na <a n:href=":Front:Homepage:default">hlavní stránku</a> a pokračujte dále v prohlížení, nebo využijte vyhledávání.
</p>
<p>
    <a n:href=":Front:Homepage:default" class="btn-yellow">Zpět na hlavní stránku</a>
</p>