{block content}
<div class="box">
	<form n:name="form" class="form-horizontal">
		<div class="box-header with-border">
			<h3 class="box-title">{ifset $availability}Úprava dostupnosti - {$availability->getTitle()}{else}Nový stav dostupnosti{/ifset}</h3>
		</div>
		<div class="box-body">
			<div class="form-group">
				<label n:name="title" class="col-sm-2 control-label">Název</label>

				<div class="col-sm-10">
					<input n:name="title" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label n:name="description" class="col-sm-2 control-label">Popisek stavu</label>

				<div class="col-sm-10">
					<input n:name="description" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label n:name="color" class="col-sm-2 control-label">Barva stavu</label>

				<div class="col-sm-10">
					<select n:name="color" class="form-control select2availability"></select>
				</div>
			</div>
			<div class="form-group">
				<label n:name="heurekaAvailability" class="col-sm-2 control-label">Heuréka - dostupnost <br><em>(počet dnů, <a href="https://sluzby.heureka.cz/napoveda/xml-feed/#DELIVERY_DATE" target="_blank">víde info</a>)</em></label>

				<div class="col-sm-10">
					<input n:name="heurekaAvailability" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label n:name="zboziAvailability" class="col-sm-2 control-label">Zboží - dostupnost<br><em>(počet dnů, <a href="https://napoveda.seznam.cz/cz/zbozi/napoveda-pro-internetove-obchody/zbozi-xml-feed/specifikace-xml-feedu/#DELIVERY_DATE" target="_blank">více info</a>)</em></label>

				<div class="col-sm-10">
					<input n:name="zboziAvailability" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input n:name="isOrderable"> Produkt se dá objednat
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<button n:name="save" class="btn btn-primary">Uložit</button>
		</div>
	</form>
</div>

{/block}

{block js}
	<script src="{$basePath}/dist/admin/js/availability.js"></script>
{/block}