{block content}
	<div class="row">
		<div class="col-md-12">
			<div class="callout callout-info">
				<p>
					Pro přidávání nové URL adresy pro sledování zásilky je potřeba vložit speciální značku <em>[[code]]</em> do URL adresy, kam se vkládá vygenerovaný kód zásilky od dopravce. <br>
					Příklad: <strong><em>https://gls-group.eu/CZ/cs/sledovani-zasilek?match=[[code]]</em></strong>
				</p>
			</div>
		</div>
	</div>
	{control deliveryGrid}