{block content}
<div class="box">
	{form deliveryForm class=>'form-horizontal'}
		<div class="box-header with-border">
			<h3 class="box-title">Nastavení povolených typů plateb k dopravě - {$delivery->getName()}</h3>
		</div>
		<div class="box-body">
			{formContainer paymentTypes}
			<div class="form-group">
				<div n:foreach="$formContainer->components as $container" class="col-sm-12 col-md-6">
					{formContainer $container}
					<div class="col-sm-12 col-md-6">
						<div class="checkbox">
							<label n:name="isAvailable">
								<input n:name="isAvailable"> {$container['isAvailable']->caption}
							</label>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<label n:name="price" class="col-sm-2 control-label">Cena způsobu platby</label>
						<div class="col-sm-10">
							<input n:name="price">
						</div>
					</div>
					{/formContainer}
				</div>
			</div>
			{/formContainer}
		</div>
		<div class="box-footer">
			<button n:name="save" class="btn btn-primary">Uložit</button>
		</div>
	{/form}
</div>