{block content}
<div class="box">
	<form n:name="form" class="form-horizontal">
		<div class="box-header with-border">
			<h2 class="box-title">
				Nový produkt <strong>{$product->getData()->getName()}</strong>
			</h2>
			<h5>
				<h5>
					Dodavatel: <strong>{$product->getSupplier()->getName()}</strong> <br>
					URL: <a href="{$product->getData()->getUrl()}" target="_blank">{$product->getData()->getUrl()}</a>
				</h5>
			</h5>
		</div>
		<div class="box-body">
			<div class="row">
				{formContainer product}
					<div class="col-md-8">
						<h3 class="text-center">Základní informace</h3>
						<div class="form-body">
							<div class="form-group">
								<div class="col-md-2 control-label">
									<label n:name="name">Název</label>
								</div>
								<div class="col-md-10">
									<input n:name="name" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 control-label">
									<label n:name="producer">Výrobce</label>
								</div>
								<div class="col-md-10">
									<select n:name="producer" class="form-control"></select>
									<p>
										<em>Výrobce ve feedu: {$product->getData()->getProducer()}</em>
									</p>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 control-label">
									<label n:name="annotation">Anotační text</label>
								</div>
								<div class="col-md-10">
									<textarea n:name="annotation" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 control-label">
									<label n:name="description">Popis</label>
								</div>
								<div class="col-md-10">
									<textarea n:name="description" class="form-control mceEditor"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 control-label">
									<label n:name="category">Kategorie</label>
								</div>
								<div class="col-md-10">
									<select n:name="category" class="form-control"></select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 control-label">
									<label n:name="vat">Sazba DPH</label>
								</div>
								<div class="col-md-10">
									<select n:name="vat" class="form-control"></select>
								</div>
							</div>
						</div>
					</div>
				{/formContainer}

				<div class="col-md-4">
					<h3 class="text-center">Varianta</h3>
					{formContainer variant}
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="name">Název varianty</label>
							</div>
							<div class="col-md-9">
								<input n:name="name" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="ean">EAN</label>
							</div>
							<div class="col-md-9">
								<input n:name="ean" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="normalPrice">Běžná cena</label>
							</div>
							<div class="col-md-9">
								<input n:name="normalPrice" class="form-control">
							</div>
						</div>
					{/formContainer}
					<h3 class="text-center">Základní cena</h3>
					{formContainer price}
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="name">Název ceny</label>
							</div>
							<div class="col-md-9">
								<input n:name="name" class="form-control" value="">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="price">Prodejní cena</label>
							</div>
							<div class="col-md-9">
								<input n:name="price" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="purchasePrice">Nákupní cena</label>
							</div>
							<div class="col-md-9">
								<input n:name="purchasePrice" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label>Kód</label>
							</div>
							<div class="col-md-9">
								<input class="form-control" value="{$product->getCode()}" disabled>
							</div>
						</div>
					{/formContainer}
				</div>
			</div>
			<div class="row">
				{formContainer images}
				<div class="col-md-12">
					<h3 class="text-center">Dostupné obrázky</h3>
					<div n:foreach="$form['images']['urls']->items as $key => $label" class="col-sm-4 col-md-3 text-center">
						<div class="thumbnail">
							<img src="{$label}" class="img-thumbnail">
							<div class="caption">
								<input n:name="urls:$key" checked>
							</div>
						</div>
					</div>
				</div>
				{/formContainer}
			</div>
		</div>
		<div class="box-footer">
			<button n:name="save" class="btn btn-primary">Uložit</button>
		</div>
	</form>
</div>