{block content}
<div n:ifset="$variant" class="col-md-12">
	<h2>Editace varianty {$variant->getName()}</h2>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<i class="fa fa-usd"></i>
					<h3 class="box-title">
						Ceny
					</h3>
					<div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
						<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-price">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody>
							<tr>
								<th>Název</th>
								<th>Cena</th>
								<th>Typ</th>
								<th>Synchr.</th>
								<th>Odvozeno od</th>
								<th>Hodn. rozdílu</th>
								<th>Nák. cena bez DPH</th>
								<th>Marže</th>
								<th></th>
							</tr>
							<tr n:foreach="$variant->getPrices() as $price" data-price-variant-id="{$price->getId()}">
								<td class="name-column" data-name="{$price->getName()}">{$price->getName()}</td>
								<td class="price-column" data-price="{$price->getPrice()}">{$price->getPrice()},- Kč</td>
								<td class="type-column" data-type="{$price->getType()}">
									{if $price->getType() == 'R'}
										<span class="label label-success">Normální</span>
									{elseif $price->getType() == 'S'}
										<span class="label label-primary">Odečtená</span>
									{elseif $price->getType() == 'P'}
										<span class="label label-warning">Procentuální</span>
									{/if}
								</td>
								<td class="synchronized-column" data-synchronized="{$price->isSynchronized()}">
									<span n:if="$price->isSynchronized()" class="label label-success"><i class="fa fa-check"></i></span>
								</td>
								<td class="counted-from-column" {if $price->getType() != 'R' && $price->getCountedFrom()}data-counted-from="{$price->getCountedFrom()->getId()}"{/if}>
									{if $price->getType() != 'R' && $price->getCountedFrom()}
										{$price->getCountedFrom()->getName()}
									{/if}
								</td>
								<td class="additional-value-column" data-additional-value="{if $price->getType() == 'S'}{$price->getSubtracted()}{elseif $price->getType() == 'P'}{$price->getPercentage()*100}{/if}">
									{if $price->getType() == 'S'}
										- {$price->getSubtracted()},- Kč
									{elseif $price->getType() == 'P'}
										{$price->getPercentage() * 100} %
									{/if}
								</td>
								<td class="purchase-price-column" data-purchase-price="{$price->getPurchasePriceWithoutVat()}">
									{if $price->getPurchasePriceWithoutVat()}{$price->getPurchasePriceWithoutVat()},- Kč{/if}
								</td>
								<td>
									{if $price->getMargin()}{$price->getMargin()} %{/if}
								</td>
								<td class="pull-right">
									<button type="button" class="btn btn-primary btn-xs price-update" title="Upravit"><i class="fa fa-pencil"></i></button>
									<a n:href="removePrice! $price->getId()" type="button" class="btn btn-danger btn-xs" title="Odstranit" onclick="return confirm('Opravdu chcete ostranit tuto cenu?');"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal modal-primary fade" id="modal-price">
				<div class="modal-dialog">
					<div class="modal-content">
						{form priceForm}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span></button>
								<h4 class="modal-title">Přidání nové ceny</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label n:name="name">Název</label>
									<input n:name="name" class="form-control">
								</div>
								<div class="form-group">
									<label n:name="type">Typ ceny</label>
									<select n:name="type" class="form-control"></select>
								</div>
								<div class="form-group notshow price-regular">
									<label n:name="price">Cena</label>
									<input n:name="price" class="form-control">
								</div>
								<div class="form-group notshow price-regular">
									<div class="checkbox">
										<label n:name="synchronized">
											<input n:name="synchronized"> Cena je synchronizována
										</label>
									</div>
								</div>
								<div class="form-group notshow price-subtracted price-percentage">
									<label n:name="countedFrom">Odvozeno z ceny</label>
									<select n:name="countedFrom" class="form-control"></select>
								</div>
								<div class="form-group notshow price-subtracted price-percentage">
									<label n:name="value">Hodnota rozdílu</label>
									<input n:name="value" class="form-control">
									<small class="notshow price-subtracted">Zadejte kladnou hodnotu částky, která bude odečtena</small>
									<small class="notshow price-percentage">Zadejte procentuální hodotu (bez znaku procenta), kterou bude mít nová cena oproti vybrané (např. 90 bude znamenat 90 % z vybrané ceny)</small>
								</div>
								<div class="form-group">
									<label n:name="purchasePriceWithoutVat">Nákupní cena bez DPH</label>
									<input n:name="purchasePriceWithoutVat" class="form-control">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left dismiss-modal" data-dismiss="modal">Zrušit</button>
								<input n:name="save" class="btn btn-outline" value="Uložit">
							</div>
						{/form}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
			<div class="box box-success">
				<div class="box-header">
					<i class="fa fa-barcode"></i>
					<h3 class="box-title">
						Kódy
					</h3>
					<div class="box-tools pull-right" data-toggle="tooltip" title="" data-original-title="Status">
						<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-code">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody>
							<tr>
								<th>Kód</th>
								<th>Dodavatel</th>
								<th>Synch. cena</th>
								<th>Synch. dostupnost</th>
								<th></th>
							</tr>
							<tr n:foreach="$variant->getCodes() as $codeVariant" data-code-variant-id="{$codeVariant->getId()}">
								<td class="code-column" data-code="{$codeVariant->getCode()}">{$codeVariant->getCode()}</td>
								<td class="supplier-column" data-code-supplier="{if $codeVariant->getSupplier()}{$codeVariant->getSupplier()->getId()}{/if}">
									{if $codeVariant->getSupplier()}{$codeVariant->getSupplier()->getName()}{/if}
								</td>
								<td class="price-synchronized-column" data-synchronized="{(int)$codeVariant->isPriceSynchronized()}">
									<span n:if="$codeVariant->isPriceSynchronized()" class="label label-success"><i class="fa fa-check"></i></span>
								</td>
								<td class="availability-synchronized-column" data-synchronized="{(int)$codeVariant->isAvailabilitySynchronized()}">
									<span n:if="$codeVariant->isAvailabilitySynchronized()" class="label label-success"><i class="fa fa-check"></i></span>
								</td>
								<td class="pull-right">
									<button type="button" class="btn btn-primary btn-xs code-update" title="Upravit"><i class="fa fa-pencil"></i></button>
									<a n:href="removeCode! $codeVariant->getId()" class="btn btn-danger btn-xs" title="Odstranit" onclick="return confirm('Opravdu chcete ostranit tento kód?');"><i class="fa fa-trash"></i></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal modal-success fade" id="modal-code">
				<div class="modal-dialog">
					<div class="modal-content">
						{form codeForm id=>"variant-code-form"}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span></button>
								<h4 class="modal-title">Přidání nového kódu</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label n:name="code">Kód</label>
									<input n:name="code" class="form-control">
								</div>
								<div class="form-group">
									<label n:name="supplier">Dodavatel</label>
									<select n:name="supplier" class="form-control"></select>
								</div>
								<div class="form-group">
									<div>
										<input n:name="isPriceSynchronized"> <label n:name="isPriceSynchronized">Synchronizovat cenu</label>
									</div>
									<div>
										<input n:name="isAvailabilitySynchronized"> <label n:name="isAvailabilitySynchronized">Synchronizovat dostupnost</label>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left dismiss-modal" data-dismiss="modal">Zrušit</button>
								<input n:name="save" class="btn btn-outline" value="Uložit">
							</div>
						{/form}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<i class="fa fa-building"></i>
					<h3 class="box-title">
						Stav skladu
					</h3>
				</div>
				<div class="box-body">
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>Sklad</th>
									<th>Stav</th>
									<th>Limit</th>
									<th>Pozice</th>
									<th>Upozornění</th>
									<th></th>
								</tr>
								<tr n:foreach="$stocksStatus as $stockId => $stockStatus" data-stock-id="{$stockId}" data-stock-name="{$stockStatus['stock']}">
									<td class="stock-name">{$stockStatus['stock']}</td>
									{var $stockItem = $stockStatus['stockItem']}
									{ifset $stockItem}
										<td class="stock-item-count" data-stock-item-count="{$stockItem->getCount()}">{$stockItem->getCount()}</td>
										<td class="stock-item-limit" data-stock-item-limit="{$stockItem->getLimitToAlert()}">{$stockItem->getLimitToAlert()}</td>
										<td class="stock-item-position" data-stock-item-position="{$stockItem->getPosition()}">{$stockItem->getPosition()}</td>
										<td class="stock-item-alert-enabled" data-stock-item-alert-enabled="{$stockItem->isAlertEnabled()}">
											<span n:if="$stockItem->isAlertEnabled()" class="label label-success"><i class="fa fa-check"></i></span>
										</td>
										<td class="pull-right">
											<button type="button" class="btn btn-primary btn-xs stock-item-update" title="Upravit"><i class="fa fa-pencil"></i></button>
										</td>
									{else}
										<td colspan="4" class="text-center">-------------------</td>
										<td class="pull-right">
											<button type="button" class="btn btn-success btn-xs stock-item-update" title="Přidat"><i class="fa fa-plus"></i></button>
										</td>
									{/ifset}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal modal-success fade" id="modal-stock-item">
				<div class="modal-dialog">
					<div class="modal-content">
						{form stockItemForm}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span></button>
								<h4 class="modal-title">Úprava skladové položky pro sklad <span id="modal-stock-title-name"></span></h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label n:name="count">Stav skladu</label>
									<input n:name="count" class="form-control">
								</div>
								<div class="form-group">
									<label n:name="limit">Limit pro upozornění</label>
									<input n:name="limit" class="form-control">
								</div>
								<div class="form-group">
									<label n:name="position">Pozice ve skladu</label>
									<input n:name="position" class="form-control">
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label n:name="alertEnabled">
											<input n:name="alertEnabled"> Upozornění na limit
										</label>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left dismiss-modal" data-dismiss="modal">Zrušit</button>
								<input n:name="save" class="btn btn-outline" value="Uložit">
							</div>
						{/form}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>