<div n:cache="search-form" class="header-search">
	<button class="svg-search-open" type="button">
		<svg>
			<use xlink:href="/dist/front/images/svg/sprite.svg#search"></use>
		</svg>
	</button>

	<div class="search-wrap">
		{form searchForm}
		<input n:name="text" placeholder="Vyhledávání...">
		<input n:name="search">
		<div class="btn-yellow btn-search">
			<svg class="svg-search">
				<use xlink:href="{$basePath}/dist/front/images/svg/sprite.svg#search"></use>
			</svg>
		</div>
		{/form}
	</div>
</div>