{block title}
	Registrace | {$webTitle}
{/block}

{block content}
<h1>Registrace</h1>

{form registrationForm}
<div class="cart-form-wrap registration-form-wrap">

	<h2>Přihlašovací údaje</h2>

	{formContainer basic}
	<div class="cart-form registration-form">
		<div class="form-group">
			<label n:name="email">E-mail *</label>
			{input email}
		</div>
		<div class="form-group">
			<label n:name="phone">Telefon *</label>
			{input phone}
		</div>
		<div class="form-group">
			<label n:name="password">Heslo *</label>
			{input password}
		</div>
		<div class="form-group">
			<label n:name="passwordCheck">Heslo znovu *</label>
			{input passwordCheck}
		</div>
	</div>
	{/formContainer}

	<h2>Fakturační adresa</h2>

	{formContainer invoiceInformation}
	<div class="cart-form registration-form">
		<div class="form-group">
			<label n:name="name">Jméno *</label>
			{input name}
		</div>
		<div class="form-group">
			<label n:name="lastName">Příjmení *</label>
			{input lastName}
		</div>
		<div class="form-group">
			<label n:name="street">Ulice *</label>
			{input street}
		</div>
		<div class="form-group">
			<label n:name="city">Obec *</label>
			{input city}
		</div>
		<div class="form-group">
			<label n:name="zip">PSČ *</label>
			{input zip}
			<div class="checkbox-group">
				<input n:name="companyOrder" class="check-firm-purchase">
				<label n:name="companyOrder">Nakupuji na firmu</label>
			</div>
		</div>
		<div class="form-group">
			<label n:name="country">Stát *</label>
			{input country}

		</div>
		<div class="clearfix"></div>
		<div class="firm-purchase">
			<div class="form-group">
				<label n:name="company">Firma *</label>
				{input company}
			</div>
			<div class="form-group">
				<label n:name="ico">IČ *</label>
				{input ico}
			</div>
			<div class="form-group">
				<label n:name="dic">DIČ *</label>
				{input dic}
			</div>
		</div>
	</div>
	{/formContainer}

	<h2>Dodací adresa</h2>

	{formContainer deliveryAddress}
	<div class="cart-form registration-form del-form">
		<div class="checkbox-group">
			<input n:name="differentAsInvoiceInformation" class="check-del-address">
			<label n:name="differentAsInvoiceInformation">Dodací adresa je odlišná od fakturační</label>
		</div>
		<div class="del-address">
			<div class="form-group">
				<label n:name="name">Jméno:</label>
				{input name}
			</div>
			<div class="form-group">
				<label n:name="lastName">Příjmení:</label>
				{input lastName}
			</div>
			<div class="form-group">
				<label n:name="company">Firma:</label>
				{input company}
			</div>
			<div class="form-group">
				<label n:name="street">Ulice:</label>
				{input street}
			</div>
			<div class="form-group">
				<label n:name="city">Obec:</label>
				{input city}
			</div>
			<div class="form-group">
				<label n:name="zip">PSČ:</label>
				{input zip}
			</div>
			<div class="form-group">
				<label n:name="country">Stát:</label>
				{input country}
			</div>
		</div>
	</div>
	{/formContainer}

</div>

<div class="btn-yellow-center">
	{input register class=>"btn-yellow"}
</div>

{/form}