{block title}
	Obnova hesla | {$webTitle}
{/block}

{block content}
<h1>Obnova hesla</h1>

{form restorePasswordForm}
<div class="cart-form-wrap registration-form-wrap">
	<div class="cart-form registration-form">
		<div>
			<label n:name="email">Zadejte email, pod kterým jste zaregistrován/a. Zašleme vám na něj nové heslo</label>
			{input email}
		</div>
	</div>



</div>

<div class="btn-yellow-center">
	{input send class=>"btn-yellow"}
</div>

{/form}