<div class="row">
	<div class="col-md-3">
		<img class="img-responsive center-block" src="http://eshop.1sys.cz/public/data/images/96/2-20100818123042.100x100.fit.q85.jpg">
	</div>
	<div class="col-md-9">
		<h4>Krásný název produktu</h4>
		<select class="form-control">
			<option>option 1</option>
			<option>option 2</option>
			<option>option 3</option>
			<option>option 4</option>
			<option>option 5</option>
		</select>
	</div>
</div>