{block title}
	Články | {$webTitle}
{/block}


{block content}
<h1>Články</h1>
<div class="news-list">
    {foreach $list as $news}
        <div class="news-item">
        <div class="image" {if $news->getMainImage()}style="background-image: url('{$basePath}/public/data/{$news->getMainImage()->getPath()}');"{/if}></div>
            <div class="text-wrap">
                <div class="title">
                    <a n:href="News:detail id => $news->getId() , url => $news->getUrl()">{$news->getTitle()}</a>
                </div>
                <div class="date">
                    {$news->getCreated()|date:'d. m. Y'}
                </div>
                <div class="perex">
                    {$news->getPerex()}
                </div>
                <div class="btn-wrap">
                    <a n:href="News:detail id => $news->getId() , url => $news->getUrl()" class="btn-yellow" title="Přečíst">
                        Přečíst
                    </a>
                </div>
            </div>
        </div>
    {/foreach}
</div>
