{block title}
	{$news->getTitle()} | {$webTitle}
{/block}

{block description}
	{$news->getText()|striptags|strip|truncate:160}
{/block}

{block content}
<h1>{$news->getTitle()}</h1>
<div class="news-detail">
	{if $news->getMainImage()}
        <div class="image">
            {img $news->getMainImage()->getPath()}
        </div>
    {/if}

	<div class="date">{$news->getCreated()|date:'d. m. Y'}</div>
	<div class="perex">{$news->getPerex()}</div>
	<div class="text">{$news->getText()|noescape}</div>
</div>
