{block title}
	Články | {$webTitle}
{/block}

{block content}
<h1>Články</h1>

<p>
	Aktuálně zde bohužel nejsou žádné články. Usilovně na nich ale pracujeme a brzy zde přidáme nové,
	velice zajímavé články, návody a novinky. Děkujeme za pochopení.
</p>