<div class="accordion-menu">
	<ul class="sub-menu">
		<li n:foreach="$menu->getItems() as $item" n:if="$item->isVisual()">
			<a href="{$item->getLink()}">
				{$item->getTranslatedTitle()}
				<span class="arrow">
                    <svg>
                        <use xlink:href="/dist/front/images/svg/sprite.svg#arrow-right-new"></use>
                    </svg>
                </span>
			</a>
		</li>
	</ul>
</div>
