<div class="breadcrumbs">
	<a href="{plink :Front:Homepage:default}" title="Úvodní strana">Úvodní strana</a>
	<span class="divider">&raquo;</span>
	{foreach $menu->getPath() as $item}
		<a n:tag-if="!$iterator->last" href="{$item->getLink()}" title="{$item->getTranslatedTitle()}">{$item->getTranslatedTitle()}</a>
		{sep} <span class="divider">&raquo;</span> {/sep}
	{/foreach}
</div>