{if !isset($menuParent)}
	{var $menuParent = $menu}
	{var $level = 1}
{/if}

<ul n:block="branch"
		n:if="$menuParent->hasVisualItems()"
		{if $level == 1}class="sub-menu sub-menu-to-hide" id="menu-id-{$menuId}"{elseif $level == 2}class="sub-sub-menu"{else}class="sub-sub-sub-menu"{/if}
		{if $level > 1 && $menuParent->isActive()}style="overflow: hidden; display: block;"{/if}
		>
	<li n:foreach="$menuParent->getItems() as $item" n:if="$item->isVisual() && $item->isAllowed()">
		<a href="{$item->getLink()}" {if $item->isActive()}class="opened" {/if}>
			{$item->getTranslatedTitle()}
			<span n:if="$item->hasVisualItems() && $level < 3" class="arrow arrow-open{if $item->isActive()} active{/if}">
                <svg>
                    <use xlink:href="/dist/front/images/svg/sprite.svg#arrow-right-new"></use>
                </svg>
            </span>
		</a>
		{include branch, menuParent => $item, level => $level+1}
	</li>
</ul>