{block content}

<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './productTabs.latte'}
			<div class="tab-content">
				<div class="tab-pane active" id="basic">
					{form form}
					<div class="form-body">
						<div n:if="$isEdited" class="form-group">
							<div class="col-md-3 control-label">
								<label>Katalogové číslo</label>
							</div>
							<div class="col-md-9">
								<strong>{$product->getNumber()}</strong>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="name">Název</label>
							</div>
							<div class="col-md-9">
								<input n:name="name" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="producer">Výrobce</label>
							</div>
							<div class="col-md-9">
								{input producer class=>"form-control"}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="annotation">Anotace produktu</label>
							</div>
							<div class="col-md-9">
								<textarea n:name="annotation" class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="description">Popis</label>
							</div>
							<div class="col-md-9">
								{input description class=>"form-control mceEditor"}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="category">Kategorie</label>
							</div>
							<div class="col-md-9">
								{input category}
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label n:name="vat">Sazba DPH</label>
							</div>
							<div class="col-md-9">
								{input vat}
							</div>
						</div>
						{if $isEdited}
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<div class="checkbox">
									{input active}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<div class="checkbox">
									{input news}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<div class="checkbox">
									{input specialOffer}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<div class="checkbox">
									{input bestSeller}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<div class="checkbox">
									{input mainPage}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								<div class="checkbox">
									{input stockItem}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 control-label">
								<label>Hlavni obrazek</label>
							</div>
							<div class="col-md-9">

							{foreach $product->getImages() as $image}
								<div class="col-md-3">
									<label n:name="mainImage:$image->getImage()->getId()">
										{img $image->getImage()->getPath(), '100x100'}
										<input n:name="mainImage:$image->getImage()->getId()">
									</label>
									<a n:href="deleteImage! imageId => $image->getImage()->getId()" class="btn btn-primary btn btn-danger" onClick="return confirm('Opravdu chcete tento obrázek smazat?');">Smazat</a>
								</div>
							{/foreach}
							</div>
						</div>
						{/if}
						<div class="form-group">
							<div class="col-md-3 control-label"></div>
							<div class="col-md-9">
								{input submit class=>"btn btn-primary btn btn-success"}
							</div>
						</div>
					</div>
					{/form}
				</div>
			</div>
		</div>
	</div>
</div>
