{block content}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './productTabs.latte'}
			<div class="tab-content">
				<div n:if="$isEdited" class="tab-pane active">
					{control filtersSettings}
				</div>
			</div>
		</div>
	</div>
</div>
