<ul class="nav nav-tabs">
	<li {if $action == 'edit' || $action == 'new'}class="active"{/if}><a {if $isEdited}href="{link Product:edit $product->getId()}"{/if}>Základní informace</a></li>
	{if $isEdited}
	<li {if $action == 'variants'}class="active"{/if}><a n:href="Product:variants $product->getId()">Varianty</a></li>
	<li {if $action == 'attributes'}class="active"{/if}><a n:href="Product:attributes $product->getId()">Vlasnosti</a></li>
	<li {if $action == 'images'}class="active"{/if}><a n:href="Product:images $product->getId()">Obrázky</a></li>
	<li {if $action == 'related'}class="active"{/if}><a n:href="Product:related $product->getId()">Související produkty</a></li>
	<li {if $action == 'filters'}class="active"{/if}><a n:href="Product:filters $product->getId()">Filtry</a></li>
	<li class="dropdown pull-right">
		<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" aria-expanded="false">
			<i class="fa fa-gear"></i>
		</a>
		<ul class="dropdown-menu">
			<li role="presentation"><a role="menuitem" tabindex="-1" >Smazat</a></li>
		</ul>
	</li>
	{/if}
</ul>