{block content}

<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './productTabs.latte'}
			<div class="tab-content">
				<div n:if="$isEdited" class="tab-pane active" id="related">
					{control relatedProducts}
				</div>
			</div>
		</div>
	</div>
</div>

{/block}

{block js}
	<script src="{$basePath}/dist/admin/js/product.js?v=0.2"></script>
{/block}