{block content}

	<div class="row">
		<div class="col-md-12">
			<div class="nav-tabs-custom">
				{include './productTabs.latte'}
				<div class="tab-content">
					<div n:if="$isEdited" class="tab-pane active" id="variants">
						<div class="row">
							<div class="col-md-12">
								{control variantsGrid}
							</div>
						</div>
						<div n:snippet="variantDetail" class="row">
							{control variantDetailControl}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{/block}

{block js}
	<script src="{$basePath}/dist/admin/js/product.js?v=1.2"></script>
{/block}