{block content}
	<div class="row">
		<div class="col-md-12">
			<div class="nav-tabs-custom">
				{include './categoryTabs.latte'}
				<div class="tab-content">
					<div class="row">
						<div class="col-md-12">
							{control attributesGrid}
						</div>
					</div>
					<div n:snippet="attributeDetail" class="row">
						{control attributeDetailControl}
					</div>
				</div>
			</div>
		</div>
	</div>
	{control attributeAttach}

{/block}