<ul class="nav nav-tabs">
	<li {if $action == 'edit' || $action == 'new'}class="active"{/if}><a href="{if $isEdited}{link Category:edit $category->getId()}{else}#{/if}">Základní informace</a></li>
	{if $isEdited}
	<li {if $action == 'attributes'}class="active"{/if}><a n:href="Category:attributes $category->getId()">Vlasnosti</a></li>
	<li {if $action == 'delivery'}class="active"{/if}><a n:href="Category:delivery $category->getId()">Doprava</a></li>
	<li {if $action == 'filters'}class="active"{/if}><a n:href="Category:filters $category->getId()">Filtry</a></li>
	<li class="dropdown pull-right">
		<a class="dropdown-toggle text-muted" data-toggle="dropdown" href="#" aria-expanded="false">
			<i class="fa fa-gear"></i>
		</a>
		<ul class="dropdown-menu">
			<li role="presentation"><a role="menuitem" tabindex="-1" >Smazat</a></li>
		</ul>
	</li>
	{/if}
</ul>