{block content}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './categoryTabs.latte'}
			<div class="tab-content">
				<div class="tab-pane active" id="basic">
					<form n:name="form">
						<div class="form-body">
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="name">Název<span class="required"> * </span></label>
								</div>
								<div class="col-md-9">
									<input n:name="name" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="postscript">Dovětek</label>
								</div>
								<div class="col-md-9">
									<input n:name="postscript" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="description">Popis</label>
								</div>
								<div class="col-md-9">
									<textarea n:name="description"></textarea>
								</div>
							</div>
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="parent">Nadřezená kategorie</label>
								</div>
								<div class="col-md-9">
									<select n:name="parent" class="form-control select2category"></select>
								</div>
							</div>
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="heurekaCategory">Heuréka kategorie</label>
								</div>
								<div class="col-md-9 select-tree">
									<select n:name="heurekaCategory" class="form-control select2category"></select>
								</div>
							</div>
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="zboziCategory">Zboží kategorie</label>
								</div>
								<div class="col-md-9 select-tree">
									<select n:name="zboziCategory" class="form-control select2category"></select>
								</div>
							</div>
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="seoTitle">SEO Title</label>
								</div>
								<div class="col-md-9">
									<input n:name="seoTitle" class="form-control">
								</div>
							</div>
							<div class="form-group required">
								<div class="col-md-3 control-label">
									<label n:name="seoDescription">SEO Description</label>
								</div>
								<div class="col-md-9">
									<input n:name="seoDescription" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-3 control-label"></div>
								<div class="col-md-9">
									<div class="checkbox">
										<label for="frm-form-active">
											<input n:name="active"> Aktivní
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-3 control-label"></div>
								<div class="col-md-9">
									<button n:name="submit" class="btn btn-primary btn btn-success">Uložit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{/block}

{block js}
	<script src="{$basePath}/dist/admin/js/category.js"></script>
{/block}