{block content}
<div class="row">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			{include './categoryTabs.latte'}
			<div class="tab-content">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 text-center">
							{form filterForm class=>'form-horizontal'}
								<div class="row margin-bottom">
									<div n:foreach="$form['filters']->items as $key => $label" class="col-sm-3 col-md-2">
										<div class="checkbox">
											<label n:name="filters:$key">
												<input n:name="filters:$key"> {$label}
											</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button n:name="save" class="btn btn-primary">Uložit</button>
									</div>
								</div>
							{/form}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>