<p>
    Vážený zákazníku,<br><br>
    bohužel jsme při chystání Vaší objednávky zjistili, že následující produkty jsou poničené nebo vyprodané.
</p>
<p>&nbsp;</p>
<table>
    <tr>
        <th>Název produktu</th>
        <th>Objednáno kusů</th>
        <th>Stav</th>
    </tr>
    {foreach $orderLines as $line}
        <tr>
            <td>{$line->getPrice()->getPriceName()}</td>
            <td>{$line->getCount()} ks</td>
            <td>{\App\Order\OrderLineState::getStatusLabel($line->getState())}</td>
        </tr>
    {/foreach}
</table>
<p>&nbsp;</p>
<p>Vyberete si jiné zboží, nebo máme výrobek stornovat? Dejte nám prosím vědět.</p>
<p>&nbsp;</p>
<p>Hezký den přeje Tým {$webTitle}</p>