{**
 * @param Column[]        $columns            Available columns
 * @param Action[]        $actions            Available actions
 * @param Export[]        $exports            Available exports
 * @param Filter[]        $filters            Available filters
 * @param ToolBarButton[] $toolbar_buttons    Available toolbar_buttons
 * @param Form            $filter             Walkaround for latte snippets
 * @param Row[]           $rows               List of rows (each contain a item from data source)
 * @param DataGrid        $control            Parent (DataGrid)
 * @param string          $original_template  Original template file path
 * @param string          $icon_prefix        Icon prefix (fa fa-)
 * @param array           $columns_visibility What columns are visible
 * @param InlineEdit|null $inlineEdit  Inline editing data
 * @param InlineEdit|null $inlineAdd   Inline add data
 *}

<div class="datagrid datagrid-{$control->getName()}" data-refresh-state="{link refreshState!}">
	{**
	 * Own data
	 *}
	<div n:snippet="grid">
	{snippetArea gridSnippets}
		{form filter, class => 'ajax'}
			{**
			 * Filter form
			 *}
			{if $control->hasOuterFilterRendering()}
				<div class="row row-filters">
					{var $i = 0}
					<div class="col-sm-6" n:foreach="$filters as $f">
						{**
						 * Each fitler is rendered separately in its own template
						 *}
						{var $filter_block = 'filter-' . $f->getKey()}
						{var $filter_type_block = 'filtertype-' . $f->getType()}

						{ifset #$filter_block}
							{include #$filter_block, filter => $f, input => $form['filter'][$f->getKey()], outer => TRUE}
						{else}
							{ifset #$filter_type_block}
								{include #$filter_type_block, filter => $f, input => $form['filter'][$f->getKey()], outer => TRUE}
								{else}
									{include $f->getTemplate(), filter => $f, input => $form['filter'][$f->getKey()], outer => TRUE}
							{/ifset}
						{/ifset}
						{var $i = $i+1}
					</div>
				</div>
				{if !$control->hasAutoSubmit()}
					<div class="text-right datagrid-manual-submit">
						{input $filter['filter']['submit']}
					</div>
				{/if}
			{/if}
			<table class="{block table-class}table table-hover table-striped table-bordered{/block}" n:snippet="table" n:block="data">
				<thead>
					<tr class="row-group-actions" n:if="$hasGroupActionOnRows || $exports || $toolbar_buttons || $control->canHideColumns() || $inlineAdd" n:block="group-actions">
						<th colspan="{$control->getColumnsCount()}" class="form-inline">
							{if $hasGroupActionOnRows}
								{block group_actions}
									Akce:
									{foreach $filter['group_action']->getControls() as $form_control}
										{if $form_control instanceof \Nette\Forms\Controls\SubmitButton}
											{input $form_control, class => 'btn btn-primary btn-sm', style => 'display:none'}
										{elseif $form_control->getName() == 'group_action'}
											{input $form_control, class => 'form-control input-sm', disabled => TRUE}
										{else}
											{input $form_control, style => 'display:none'}
										{/if}
									{/foreach}
								{/block}
							{/if}

							<span class="datagrid-toolbar" n:if="$control->canHideColumns() || $inlineAdd || $exports || $toolbar_buttons">
								<span n:if="$toolbar_buttons">
									{foreach $toolbar_buttons as $toolbar_button}{$toolbar_button->renderButton()}{/foreach}
								</span>

								<span class="datagrid-exports" n:if="$exports" n:snippet="exports" n:block="exports">
									{foreach $exports as $export}{$export->render()}{/foreach}
								</span>

								<span class="datagrid-settings" n:block="settings" n:if="$control->canHideColumns() || $inlineAdd">
									{**
									 * Inline add
									 *}
									{if $inlineAdd}
										{$inlineAdd->renderButtonAdd()}
									{/if}

									{**
									 * Hideable columns
									 *}
									<div class="btn-group">
										<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" n:if="$control->canHideColumns()">
											<i n:block = "icon-gear" class="{$icon_prefix}gear"></i>
										</button>
										<ul class="dropdown-menu dropdown-menu-right dropdown-menu--grid">
											<li n:foreach="$columns_visibility as $v_key => $visibility">
												{if $visibility['visible']}
													<a n:href="hideColumn!, column => $v_key" class="ajax">
														<i n:block = "icon-checked" class="{$icon_prefix}check-square-o"></i>
														{include #column-header, column => $visibility['column']}
													</a>
												{else}
													<a n:href="showColumn!, column => $v_key" class="ajax">
														<i n:block = "icon-unchecked" class="{$icon_prefix}square-o"></i>
														{include #column-header, column => $visibility['column']}
													</a>
												{/if}
											</li>
											<li role="separator" class="divider"></li>
											<li>
												<a n:href="showAllColumns!" class="ajax"><i n:block = "icon-eye" class="{$icon_prefix}eye"></i> Zobrazit všechny sloupce</a>
											</li>
											<li n:if="$control->hasSomeColumnDefaultHide()">
												<a n:href="showDefaultColumns!" class="ajax"><i n:block = "icon-repeat" class="{$icon_prefix}repeat"></i> Zobrazit základní sloupce</a>
											</li>
										</ul>
									</div>
								</span>
							</span>
						</th>
					</tr>
					<tr n:block="header">
						<th n:if="$hasGroupActionOnRows" rowspan="2" class="col-checkbox">
							<input n:class="$control->useHappyComponents() ? 'happy gray-border' , primary" name="{$control->getName()|lower}-toggle-all" type="checkbox" data-check="{$control->getName()}" data-check-all="{$control->getName()}">
						</th>
						{foreach $columns as $key => $column}
							{var $th = $column->getElementPrototype('th', $key)}
							{$th->startTag()|noescape}
								{var $col_header = 'col-' . $key . '-header'}

								{**
								 * Column header can be defined also with block {col-<key>-header}
								 *}
								{ifset #$col_header}
									{include #$col_header, column => $column}
								{else}
									{if $column->isSortable()}
										<a n:class="$column->isSortedBy() ? 'sort' : '', 'ajax'" {if $column->hasSortNext()}href="{link sort!, sort => $column->getSortNext()}"{else}href="{link sort!, sort => NULL}"{/if} id="datagrid-sort-{$key}">
											{include #column-header, column => $column}

											{if $column->isSortedBy()}
												{if $column->isSortAsc()}
													<i n:block="icon-sort-up" class="{$icon_prefix}caret-up"></i>
												{else}
													<i n:block="icon-sort-down" class="{$icon_prefix}caret-down"></i>
												{/if}
											{else}
												<i n:block="icon-sort" class="{$icon_prefix}sort"></i>
											{/if}
										</a>
									{else}
										{include #column-header, column => $column}
									{/if}

									<span class="column-settings-menu pull-right" n:if="$control->canHideColumns()">
										<div class="btn-group">
											<a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i n:block="icon-caret-down" class="{$icon_prefix}caret-down"></i>
											</a>
											<ul class="dropdown-menu dropdown-menu--grid">
												<li>
													<a n:href="hideColumn!, column => $key" class="ajax">
														<i n:block = "icon-eye-slash" class="{$icon_prefix}eye-slash"></i> {_'ublaboo_datagrid.hide_column'}</a>
												</li>
											</ul>
										</div>
									</span>
								{/ifset}

								{if !$control->hasOuterFilterRendering() && isset($filters[$key])}
									<hr>
									{var $i = $filter['filter'][$key]}

									{var $filter_block = 'filter-' . $filters[$key]->getKey()}
									{var $filter_type_block = 'filtertype-' . $filters[$key]->getType()}

									{ifset #$filter_block}
										{include #$filter_block, filter => $filters[$key], input => $i, outer => FALSE}
									{else}
										{ifset #$filter_type_block}
											{include #$filter_type_block, filter => $filters[$key], input => $i, outer => FALSE}
										{else}
											{include $filters[$key]->getTemplate(), filter => $filters[$key], input => $i, outer => FALSE}
										{/ifset}
									{/ifset}

								{/if}
							{$th->endTag()|noescape}
						{/foreach}
						<th n:if="$actions || $control->isSortable() || $items_detail || $inlineEdit || $inlineAdd" class="col-action text-center">
							Akce
							{if !$control->hasAutoSubmit() && !$control->hasOuterFilterRendering()}
								<hr>
								{input $filter['filter']['submit']}
							{/if}
						</th>
					</tr>
				</thead>

				<tbody n:snippet="tbody" {if $control->isSortable()}data-sortable data-sortable-url="{plink $control->getSortableHandler()}" data-sortable-parent-path="{$control->getSortableParentPath()}"{/}>
					{snippetArea items}
						{if $inlineAdd && $inlineAdd->isPositionTop()}
							{include inlineAddRow, columns => $columns}
						{/if}

						{foreach $rows as $row}
							{var $item = $row->getItem()}

							{if !isset($toggle_detail)}
								{if $inlineEdit && $inlineEdit->getItemId() == $row->getId()}
									{php $inlineEdit->onSetDefaults($filter['inline_edit'], $item); }

									<tr data-id="{$row->getId()}" n:snippet="item-{$row->getId()}" n:class="$row->getControlClass()">
										<td n:if="$hasGroupActionOnRows" class="col-checkbox"></td>

										{foreach $columns as $key => $column}
											{var $col = 'col-' . $key}

											{var $td = $column->getElementPrototype('td', $key, $row)}
											{var $td->class[] = 'datagrid-inline-edit'}
											{$td->startTag()|noescape}
												{if isset($filter['inline_edit'][$key])}
													{input $filter['inline_edit'][$key]}
												{/if}
											{$td->endTag()|noescape}
										{/foreach}

										<td class="col-action col-action-inline-edit">
											{input $filter['inline_edit']['cancel'], class => 'btn btn-xs btn-danger'}
											{input $filter['inline_edit']['submit'], class => 'btn btn-xs btn-primary'}
											{input $filter['inline_edit']['_id']}
											{input $filter['inline_edit']['_primary_where_column']}
										</td>
									</tr>
								{else}
									<tr data-id="{$row->getId()}" n:snippet="item-{$row->getId()}" n:class="$row->getControlClass()">
										<td n:if="$hasGroupActionOnRows" class="col-checkbox">
											{if $row->hasGroupAction()}
												<input n:class="$control->useHappyComponents() ? 'happy gray-border' , primary" type="checkbox" data-check="{$control->getName()}" data-check-all-{$control->getName()|noescape} name="{$control->getName()|lower}_group_action_item[{$row->getId()}]">
											{/if}
										</td>
										{foreach $columns as $key => $column}
											{var $col = 'col-' . $key}
											{php $column = $row->applyColumnCallback($key, clone $column)}

											{var $td = $column->getElementPrototype('td', $key, $row)}
											{$td->startTag()|noescape}
												{if $column->hasTemplate()}
													{include $column->getTemplate(), row => $row, item => $item, (expand) $column->getTemplateVariables()}
												{else}
													{ifset #$col}
														{include #$col, item => $item}
													{else}
														{if $column->isTemplateEscaped()}
															{$column->render($row)}
														{else}
															{$column->render($row)|noescape}
														{/if}
													{/ifset}
												{/if}
											{$td->endTag()|noescape}
										{/foreach}
										<td n:if="$actions || $control->isSortable() || $items_detail || $inlineEdit || $inlineAdd" class="col-action">
											{foreach $actions as $key => $action}
												{if $row->hasAction($key)}
													{if $action->hasTemplate()}
														{include $action->getTemplate(), item => $item, (expand) $action->getTemplateVariables()}
													{else}
														{$action->render($row)|noescape}
													{/if}
												{/if}
											{/foreach}
											<span class="handle-sort btn btn-xs btn-default" n:if="$control->isSortable()">
												<i n:block = "icon-arrows-v" class="{$icon_prefix}arrows-v"></i>
											</span>
											{if $inlineEdit && $row->hasInlineEdit()}
												{$inlineEdit->renderButton($row)|noescape}
											{/if}
											{if $items_detail}
												{$items_detail->renderButton($row)|noescape}
											{/if}
										</td>
									</tr>
								{/if}
							{/if}

							{**
							 * Item detail
							 *}
							{if $items_detail}
								<tr class="row-item-detail item-detail-{$row->getId()}" n:snippet="item-{$row->getId()}-detail">
									{if isset($toggle_detail) && $toggle_detail == $row->getId()}
										{var $item_detail_params = ['item' => $item, '_form' => $filter] + $items_detail->getTemplateVariables()}

										{if isset($filter['items_detail_form'])}
											{var $item_detail_params['items_detail_form'] = $filter['items_detail_form']}
										{/if}

										{ifset #detail}
											<td colspan="{$control->getColumnsCount()}">
												<div class="item-detail-content">
													{include #detail, (expand) $item_detail_params}
												</div>
											</td>
										{elseif $items_detail}
											<td colspan="{$control->getColumnsCount()}">
												<div class="item-detail-content">
													{if $items_detail->getType() == 'template'}
														{include $items_detail->getTemplate(), (expand) $item_detail_params}
													{else}
														{$items_detail->render($item)|noescape}
													{/if}
												</div>
											</td>
										{/ifset}
									{/if}
								</tr>
								<tr class="row-item-detail-helper"></tr>
							{/if}
						{/foreach}

						{if $inlineAdd && $inlineAdd->isPositionBottom()}
							{include inlineAddRow, columns => $columns}
						{/if}

						{if !empty($rows) && $columnsSummary}
							{include columnsSummary, columns => $columns}
						{/if}

						{block noItems}
							<tr n:if="!$rows">
								<td colspan="{$control->getColumnsCount()}">
									{if $filter_active}
										Nenalezeny žádné záznamy <a class="link ajax" n:href="resetFilter!">Obnovit</a>.
									{else}
										Nenalezeny žádné záznamy
									{/if}
								</td>
							</tr>
						{/block}
					{/snippetArea}
				</tbody>
				{block tfoot}
					<tfoot n:snippet="pagination">
						{if $control->isPaginated() || $filter_active}
							<tr n:block="pagination">
								<td colspan="{$control->getColumnsCount()}" n:if="!$control->isTreeView()" class="row-grid-bottom">
									<div class="col-items">
										<small class="text-muted" n:if="$control->isPaginated()">
											({var $paginator = $control['paginator']->getPaginator()}

											{if $control->getPerPage() === 'all'}
												Zobrazeno: {'ublaboo_datagrid.all'|translate}
											{else}
												Zobrazeno: {$paginator->getOffset() > 0 ? $paginator->getOffset() + 1 : 0} - {sizeof($rows) + $paginator->getOffset()}
												z celkem {$paginator->getItemCount()}
											{/if})
										</small>
									</div>
									<div class="col-pagination text-center">
										{**
										* Pagination
										*}
										{control paginator}
									</div>
									<div class="col-per-page text-right">
										{**
										* Items per page form (display only beside paginated grido)
										*}
										<a n:if="$filter_active" n:href="resetFilter!" class="ajax btn btn-danger btn-sm reset-filter">Smazat filtr</a>
										{if $control->isPaginated()}
											{input $filter['per_page'], data-autosubmit-per-page => TRUE, class => 'form-control input-sm'}
											{input $filter['per_page_submit'], class => 'datagrid-per-page-submit'}
										{/if}
									</div>
								</td>
							</tr>
						{/if}
					</tfoot>
				{/block}
			</table>
		{/form}
	{/snippetArea}
	</div>
</div>


{define inlineAddRow}
	{php $inlineAdd->onSetDefaults($filter['inline_add']); }

	<tr class="datagrid-row-inline-add datagrid-row-inline-add-hidden">
		<td n:if="$hasGroupActionOnRows" class="col-checkbox"></td>

		{foreach $columns as $key => $column}
			{var $col = 'col-' . $key}

			{var $td = clone $column->getElementPrototype('td', $key)}
			{var $td->class[] = 'datagrid-inline-edit'}
			{$td->startTag()|noescape}
				{if isset($filter['inline_add'][$key])}
					{input $filter['inline_add'][$key]}
				{/if}
			{$td->endTag()|noescape}
		{/foreach}

		<td class="col-action col-action-inline-edit">
			{input $filter['inline_add']['cancel']}
			{input $filter['inline_add']['submit']}
		</td>
	</tr>
{/define}


{define columnsSummary}
	<tr class="datagrid-row-columns-summary" n:if="$columnsSummary->someColumnsExist($columns)">
		<td n:if="$control->hasGroupActions()" class="col-checkbox"></td>

		{foreach $columns as $key => $column}
			{var $td = $column->getElementPrototype('td', $key)}

			{$td->startTag()|noescape}
				{$columnsSummary->render($key)}
			{$td->endTag()|noescape}
		{/foreach}

		<td n:if="$actions || $control->isSortable() || $items_detail || $inlineEdit || $inlineAdd" class="col-action">
		</td>
	</tr>
{/define}


{define column-header}
	{if $column->isHeaderEscaped()}
		{$column->getName()|noescape}
	{else}
		{$column->getName()}
	{/if}
{/define}
