{block content}
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Nalezené položky
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills">
					<li class="active">
						<a href="#products" data-toggle="tab" aria-expanded="true">Produkty</a>
					</li>
					<li class="">
						<a href="#orders" data-toggle="tab" aria-expanded="false">Objednávky</a>
					</li>
					<li class="">
						<a href="#categories" data-toggle="tab" aria-expanded="false">Kategorie</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade active in" id="products">
						{if count($products)}
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Produkt (Varianta)</th>
										</tr>
									</thead>
									<tbody>
										<tr n:foreach="$products as $product">
											<td>
												<a n:href="Product:variants id=>$product['productId'], variantId=>$product['variantId']">
													{$product['code']} - {$product['name']}
													{if strlen($product['variant'])} - {$product['variant']}{/if}
													{if strlen($product['priceName'])} - {$product['priceName']}{/if}
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						{else}
						Nebyly nalazeny žádné produkty
						{/if}
					</div>
					<div class="tab-pane fade" id="orders">
						{if count($orders)}
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Číslo objednávky</th>
											<th>Zákaznik</th>
											<th>Email</th>
											<th>Vytvořeno</th>
										</tr>
									</thead>
									<tbody>
										<tr n:foreach="$orders as $order">
											<td><a n:href="Order:detail $order['id']">{$order['orderNo']}</a></td>
											<td>{$order['customerName']} {$order['customerLastName']}</td>
											<td>{$order['customerEmail']}</td>
											<td>{$order['created']|date:'d. m. Y H:i'}</td>
										</tr>
									</tbody>
								</table>
							</div>
						{else}
						Nebyly nalazeny žádné objednavky
						{/if}
					</div>
					<div class="tab-pane fade" id="categories">
						{if count($categories)}
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Kategorie</th>
										</tr>
									</thead>
									<tbody>
										<tr n:foreach="$categories as $category">
											<td><a n:href="Category:edit $category['id']">{$category['name']}</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						{else}
						Nebyly nalazeny žádné kategorie
						{/if}
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>

	</div>
</div>